In [25]:
%run "../Functions/4. User comparison.ipynb"

/home/emma/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (18,21,22,28,32,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/emma/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (14,15,16,17,18,20,21,22,25,26,27,30,33,34,35,36,37,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/emma/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (18,21,22,28,32,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/emma/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (14,15,16,17,18,20,21,22,25,26,27,30,33,34,35,36,37,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Prepare data

## Prepare Google form data

In [43]:
# Rename columns of the Google Forms table with tags independantly of form language
columnTags = ["timestamp", "gameInterest", "gameFrequency", "age", "gender", "biologyStudy", "biologyInterest", "synthBioKnowledge", "biobrickKnowledge", "previousVersion", "previousPlay", "arcadePlay", "androidPlay", "Q1", "Q2", "Q3", "Q4", "Q5", "Q6", "Q7", "Q8", "Q9", "Q10", "Q11", "Q12", "Q13", "Q14", "Q15", "Q16", "Q17", "Q18", "Q19", "Q20", "Q21", "Q22", "Q23", "Q24", "Q25", "Q26", "Q27", "comments", "anonymousID"]
columnQuestions = gform.columns.values.tolist()
googleData = gform.rename(columns=dict(zip(columnQuestions, columnTags)))
#googleData.head()

,timestamp,gameInterest,gameFrequency,age,gender,biologyStudy,biologyInterest,synthBioKnowledge,biobrickKnowledge,previousVersion,...,Q21,Q22,Q23,Q24,Q25,Q26,Q27,comments,anonymousID,Language
0,2017/08/18 3:22:26 PM GMT+1,Extremely,Extremely,23,Female,Until bachelor's degree,Extremely,Yes,NaN,No,...,It generates antibiotic resistance,It generates green fluorescence in presence of...,"After being induced, it would produce more and...",I don't know,E. Coli,Flagella,Ampicillin,Your game is amazing. One suggestion. In sever...,8d352896-a3f1-471c-8439-0f426df901c1,en
1,2017/09/06 1:28:03 PM GMT+1,Moderately,Moderately,28,Other,Until the end of high school,Moderately,Yes,NaN,No,...,It generates antibiotic resistance,It generates green fluorescence in presence of...,"After being induced, it would produce more and...",I don't know,E. Coli,Flagella,Ampicillin,"This was a nice educational game, thank you fo...",7037c5b2-c286-498e-9784-9a061c778609,en
2,2017/09/12 9:02:06 AM GMT+1,A lot,Moderately,20,Female,Until bachelor's degree,Moderately,No,NaN,No,...,It generates antibiotic resistance,It generates green fluorescence,I don't know,If it produces BFP under purple light,E. Coli,Flagella,Ampicillin,NaN,5c4939b5-425b-4d19-b5d2-0384a515539e,en
3,2017/09/13 2:11:34 AM GMT+1,I don't know,I don't know,0,Other,I don't know,I don't know,No,NaN,No,...,It generates antibiotic resistance,It generates green fluorescence in presence of...,"After being induced, it would produce more and...",If it produces YFP under cyan light,E. Coli,Flagella,Ampicillin,NaN,7825d421-d668-4481-898a-46b51efe40f0,en
4,2017/09/17 6:34:56 PM GMT+1,Moderately,Moderately,21,Male,Until bachelor's degree,A lot,Yes,NaN,No,...,It generates antibiotic resistance,It generates green fluorescence in presence of...,"After being induced, it would produce more and...",If it produces YFP under cyan light,E. Coli,Flagella,Ampicillin,Interested to work on Synthetic Biology as a d...,acb9c989-b4a6-4c4d-81cc-6b5783ec71d8,en

In [69]:
# Replaces answers to scientific questions in the questionnaires by their values (True or False)
correctedData = googleData
for rowId in range(correctedData.shape[0]):
    # Get the correction for each subject
    playerId = correctedData.loc[rowId, "anonymousID"]
    correction = getCorrections(playerId)
    if correction.shape[1] > 0:
        # If subject has answered questionnaire
        correction = correction.rename(index=dict(zip(columnQuestions, columnTags)))
        # Replace scientific answers by their correction
        for questionId in range(27):
            questionTag = "Q" + str(questionId + 1)
            correctedData.loc[rowId, questionTag] = correction.loc[questionTag, "corrections" + str(rowId)]
    
#correctedData.head()

,timestamp,gameInterest,gameFrequency,age,gender,biologyStudy,biologyInterest,synthBioKnowledge,biobrickKnowledge,previousVersion,...,Q21,Q22,Q23,Q24,Q25,Q26,Q27,comments,anonymousID,Language
0,2017/08/18 3:22:26 PM GMT+1,Extremely,Extremely,23,Female,Until bachelor's degree,Extremely,Yes,NaN,No,...,True,True,True,False,True,True,True,Your game is amazing. One suggestion. In sever...,8d352896-a3f1-471c-8439-0f426df901c1,en
1,2017/09/06 1:28:03 PM GMT+1,Moderately,Moderately,28,Other,Until the end of high school,Moderately,Yes,NaN,No,...,True,True,True,False,True,True,True,"This was a nice educational game, thank you fo...",7037c5b2-c286-498e-9784-9a061c778609,en
2,2017/09/12 9:02:06 AM GMT+1,A lot,Moderately,20,Female,Until bachelor's degree,Moderately,No,NaN,No,...,True,False,False,False,True,True,True,NaN,5c4939b5-425b-4d19-b5d2-0384a515539e,en
3,2017/09/13 2:11:34 AM GMT+1,I don't know,I don't know,0,Other,I don't know,I don't know,No,NaN,No,...,True,True,True,True,True,True,True,NaN,7825d421-d668-4481-898a-46b51efe40f0,en
4,2017/09/17 6:34:56 PM GMT+1,Moderately,Moderately,21,Male,Until bachelor's degree,A lot,Yes,NaN,No,...,True,True,True,True,True,True,True,Interested to work on Synthetic Biology as a d...,acb9c989-b4a6-4c4d-81cc-6b5783ec71d8,en

## What subsets of questions tend to be answered correctly by the same subjects?

In [70]:
# Get only answers to scientific questions
correctedScientific = correctedData.loc[:, "Q1":"Q27"]
#correctedScientific.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,True,True,True,True,False,True,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
1,True,True,True,True,True,True,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
2,True,False,True,True,False,False,False,False,False,False,...,True,True,True,True,False,False,False,True,True,True
3,True,True,True,True,True,True,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True