In [5]:
%run dataFormating.ipynb

C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (18,21,22,28,32,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (14,15,16,17,18,20,21,22,25,26,27,30,33,34,35,36,37,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (18,21,22,28,32,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (14,15,16,17,18,20,21,22,25,26,27,30,33,34,35,36,37,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# What subsets of scientific questions tend to be answered correctly by the same subjects?

## Mining

In [6]:
from orangecontrib.associate.fpgrowth import *  
import pandas as pd

In [7]:
itemsets = frequent_itemsets(correctedScientific, 10)
list(itemsets)

TypeError: X must be (sparse) array of boolean values, orlist of lists of hashable items, or iterator

In [76]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [77]:
# Get frequent itemsets with support > 5%
# run time < 15 min
partial = correctedScientific.iloc[:, 0:18] #For now can only compute the rules for 18 questions
frequent_itemsets = apriori(partial, min_support=0.25, use_colnames=True)
frequent_itemsets.shape
#frequent_itemsets

(35348, 2)

In [78]:
# Generate rules according to confidence
# < run time < 
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)
rules.head()

  antecedants consequents   support  confidence      lift
0        (Q2)        (Q1)  0.521739    0.972222  1.176901
1        (Q3)        (Q1)  0.507246    0.942857  1.141353
2        (Q4)        (Q1)  0.434783    0.966667  1.170175
3        (Q5)        (Q1)  0.405797    0.928571  1.124060
4        (Q6)        (Q1)  0.362319    0.920000  1.113684

In [79]:
# Save the mined rules to file
#rules.to_csv("results/associationRulesMiningSupport25percentsConfidence90percents.csv")

## Search for interesting rules
Interesting rules are more likely to be the ones with highest confidence, the highest lift or with a bigger consequent set. Pairs can also be especially interesting

In [80]:
# Sort rules by confidence and lift
confidenceSortedRules = rules.sort_values(by = ["confidence", "lift"], ascending=[False, False])
confidenceSortedRules.head(50)

,antecedants,consequents,support,confidence,lift
397268,"(Q2, Q8, Q15)","(Q11, Q12, Q7, Q9)",0.275362,1.0,3.136364
397271,"(Q2, Q8, Q11)","(Q15, Q12, Q7, Q9)",0.275362,1.0,3.136364
401739,"(Q2, Q8, Q15)","(Q11, Q12, Q7, Q16)",0.275362,1.0,3.136364
401741,"(Q2, Q8, Q11)","(Q15, Q12, Q7, Q16)",0.275362,1.0,3.136364
433279,"(Q8, Q15, Q3)","(Q11, Q12, Q7, Q9)",0.289855,1.0,3.136364
433284,"(Q8, Q11, Q3)","(Q15, Q12, Q7, Q9)",0.289855,1.0,3.136364
440052,"(Q8, Q15, Q3)","(Q11, Q12, Q7, Q16)",0.289855,1.0,3.136364
440057,"(Q8, Q11, Q3)","(Q15, Q12, Q7, Q16)",0.289855,1.0,3.136364
597639,"(Q2, Q8, Q15, Q1)","(Q11, Q12, Q7, Q9)",0.275362,1.0,3.136364
597651,"(Q2, Q8, Q1, Q11)","(Q15, Q12, Q7, Q9)",0.275362,1.0,3.136364
597673,"(Q2, Q8, Q15)","(Q1, Q12, Q11, Q9, Q7)",0.275362,1.0,3.136364
597677,"(Q2, Q8, Q11)","(Q15, Q1, Q12, Q9, Q7)",0.275362,1.0,3.136364
606699,"(Q2, Q8, Q15, Q1)","(Q11, Q12, Q7, Q16)",0.275362,1.0,3.136364
606708,"(Q2, Q8, Q1, Q11)","(Q15, Q12, Q7, Q16)",0.275362,1.0,3.136364
606728,"(Q2, Q8, Q15)","(Q1, Q12, Q11, Q16, Q7)",0.275362,1.0,3.136364
606731,"(Q2, Q8, Q11)","(Q15, Q1, Q12, Q16, Q7)",0.275362,1.0,3.136364
671185,"(Q8, Q15, Q1, Q3)","(Q11, Q12, Q7, Q9)",0.289855,1.0,3.136364
671205,"(Q8, Q1, Q3, Q11)","(Q15, Q12, Q7, Q9)",0.289855,1.0,3.136364
671229,"(Q8, Q15, Q3)","(Q1, Q12, Q11, Q9, Q7)",0.289855,1.0,3.136364
671236,"(Q8, Q11, Q3)","(Q15, Q1, Q12, Q9, Q7)",0.289855,1.0,3.136364
684918,"(Q8, Q15, Q1, Q3)","(Q11, Q12, Q7, Q16)",0.289855,1.0,3.136364
684937,"(Q8, Q1, Q3, Q11)","(Q15, Q12, Q7, Q16)",0.289855,1.0,3.136364
684961,"(Q8, Q15, Q3)","(Q1, Q12, Q11, Q16, Q7)",0.289855,1.0,3.136364
684968,"(Q8, Q11, Q3)","(Q15, Q1, Q12, Q16, Q7)",0.289855,1.0,3.136364
878994,"(Q2, Q8, Q15, Q3)","(Q11, Q12, Q7, Q9)",0.260870,1.0,3.136364
878998,"(Q2, Q8, Q11, Q3)","(Q15, Q12, Q7, Q9)",0.260870,1.0,3.136364
882993,"(Q2, Q8, Q15, Q3)","(Q11, Q12, Q7, Q16)",0.260870,1.0,3.136364
882997,"(Q2, Q8, Q11, Q3)","(Q15, Q12, Q7, Q16)",0.260870,1.0,3.136364
920549,"(Q2, Q8, Q10, Q11)","(Q15, Q12, Q7, Q9)",0.275362,1.0,3.136364
920553,"(Q2, Q8, Q10, Q15)","(Q11, Q12, Q7, Q9)",0.275362,1.0,3.136364
920585,"(Q2, Q8, Q11)","(Q10, Q15, Q12, Q9, Q7)",0.275362,1.0,3.136364
920589,"(Q2, Q8, Q15)","(Q10, Q11, Q12, Q9, Q7)",0.275362,1.0,3.136364
925039,"(Q2, Q13, Q15, Q8)","(Q11, Q12, Q7, Q9)",0.260870,1.0,3.136364
925043,"(Q2, Q13, Q8, Q11)","(Q15, Q12, Q7, Q9)",0.260870,1.0,3.136364
925239,"(Q2, Q8, Q15, Q14)","(Q11, Q12, Q7, Q9)",0.275362,1.0,3.136364
925248,"(Q2, Q8, Q11, Q14)","(Q15, Q12, Q7, Q9)",0.275362,1.0,3.136364
925268,"(Q2, Q8, Q15)","(Q11, Q12, Q14, Q9, Q7)",0.275362,1.0,3.136364
925271,"(Q2, Q8, Q11)","(Q15, Q12, Q14, Q9, Q7)",0.275362,1.0,3.136364
925641,"(Q2, Q8, Q15, Q16)","(Q11, Q12, Q7, Q9)",0.275362,1.0,3.136364
925643,"(Q2, Q8, Q15, Q9)","(Q11, Q12, Q7, Q16)",0.275362,1.0,3.136364
925650,"(Q2, Q8, Q11, Q16)","(Q15, Q12, Q7, Q9)",0.275362,1.0,3.136364
925652,"(Q2, Q8, Q11, Q9)","(Q15, Q12, Q7, Q16)",0.275362,1.0,3.136364
925671,"(Q2, Q8, Q15)","(Q11, Q12, Q16, Q9, Q7)",0.275362,1.0,3.136364
925674,"(Q2, Q8, Q11)","(Q15, Q12, Q16, Q9, Q7)",0.275362,1.0,3.136364
925770,"(Q2, Q8, Q15, Q17)","(Q11, Q12, Q7, Q9)",0.275362,1.0,3.136364
925779,"(Q2, Q8, Q17, Q11)","(Q15, Q12, Q7, Q9)",0.275362,1.0,3.136364
925797,"(Q2, Q8, Q15)","(Q11, Q12, Q9, Q17, Q7)",0.275362,1.0,3.136364
925800,"(Q2, Q8, Q11)","(Q15, Q12, Q9, Q17, Q7)",0.275362,1.0,3.136364
925855,"(Q2, Q8, Q15, Q18)","(Q11, Q12, Q7, Q9)",0.260870,1.0,3.136364
925856,"(Q2, Q8, Q18, Q11)","(Q15, Q12, Q7, Q9)",0.260870,1.0,3.136364

In [81]:
# Sort rules by size of consequent set
rules["consequentSize"] = rules["consequents"].apply(lambda x: len(x))
consequentSortedRules = rules.sort_values(by = ["consequentSize", "confidence", "lift"], ascending=[False, False, False])
consequentSortedRules.head(50)

,antecedants,consequents,support,confidence,lift,consequentSize
3238459,"(Q8, Q3)","(Q10, Q1, Q11, Q12, Q15, Q16, Q14, Q9, Q17, Q1...",0.304348,0.904762,2.972789,11
3248970,"(Q8, Q3)","(Q18, Q10, Q1, Q11, Q12, Q15, Q16, Q14, Q9, Q1...",0.304348,0.904762,2.972789,11
3109664,"(Q8, Q3)","(Q10, Q1, Q11, Q12, Q15, Q16, Q14, Q9, Q17, Q7)",0.304348,0.952381,2.987013,10
3238448,"(Q8, Q11, Q3)","(Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q13, Q7)",0.289855,0.950000,3.121429,10
3238452,"(Q8, Q15, Q3)","(Q10, Q1, Q12, Q11, Q16, Q14, Q9, Q17, Q13, Q7)",0.289855,0.950000,3.121429,10
3248962,"(Q8, Q11, Q3)","(Q18, Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q7)",0.289855,0.950000,3.121429,10
3248964,"(Q8, Q15, Q3)","(Q18, Q10, Q1, Q12, Q11, Q16, Q14, Q9, Q17, Q7)",0.289855,0.950000,3.121429,10
3070761,"(Q2, Q8)","(Q10, Q1, Q11, Q12, Q15, Q16, Q14, Q9, Q17, Q7)",0.289855,0.950000,2.979545,10
3238457,"(Q13, Q8, Q3)","(Q10, Q1, Q12, Q15, Q11, Q16, Q14, Q9, Q17, Q7)",0.289855,0.950000,2.979545,10
3248958,"(Q18, Q8, Q3)","(Q10, Q1, Q12, Q15, Q11, Q16, Q14, Q9, Q17, Q7)",0.289855,0.950000,2.979545,10
3224948,"(Q2, Q8, Q11)","(Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q7, Q3)",0.275362,0.947368,3.112782,10
3224949,"(Q2, Q8, Q15)","(Q10, Q1, Q12, Q11, Q16, Q14, Q9, Q17, Q7, Q3)",0.275362,0.947368,3.112782,10
3230656,"(Q2, Q8, Q11)","(Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q13, Q7)",0.275362,0.947368,3.112782,10
3230657,"(Q2, Q8, Q15)","(Q10, Q1, Q12, Q11, Q16, Q14, Q9, Q17, Q13, Q7)",0.275362,0.947368,3.112782,10
3232736,"(Q2, Q8, Q11)","(Q18, Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q7)",0.275362,0.947368,3.112782,10
3232737,"(Q2, Q8, Q15)","(Q18, Q10, Q1, Q12, Q11, Q16, Q14, Q9, Q17, Q7)",0.275362,0.947368,3.112782,10
3268465,"(Q18, Q8, Q11, Q3)","(Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q13, Q7)",0.275362,0.947368,3.112782,10
3268466,"(Q18, Q8, Q15, Q3)","(Q10, Q1, Q12, Q11, Q16, Q14, Q9, Q17, Q13, Q7)",0.275362,0.947368,3.112782,10
3268468,"(Q13, Q8, Q11, Q3)","(Q18, Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q7)",0.275362,0.947368,3.112782,10
3268469,"(Q13, Q15, Q8, Q3)","(Q18, Q10, Q1, Q12, Q11, Q16, Q14, Q9, Q17, Q7)",0.275362,0.947368,3.112782,10
3224950,"(Q2, Q8, Q3)","(Q10, Q1, Q12, Q15, Q11, Q16, Q14, Q9, Q17, Q7)",0.275362,0.947368,2.971292,10
3230658,"(Q2, Q13, Q8)","(Q10, Q1, Q12, Q15, Q11, Q16, Q14, Q9, Q17, Q7)",0.275362,0.947368,2.971292,10
3232735,"(Q2, Q8, Q18)","(Q10, Q1, Q12, Q15, Q11, Q16, Q14, Q9, Q17, Q7)",0.275362,0.947368,2.971292,10
3268467,"(Q18, Q13, Q8, Q3)","(Q10, Q1, Q12, Q15, Q11, Q16, Q14, Q9, Q17, Q7)",0.275362,0.947368,2.971292,10
3109663,"(Q8, Q11)","(Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q7, Q3)",0.318841,0.909091,2.987013,10
3180885,"(Q8, Q11)","(Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q13, Q7)",0.318841,0.909091,2.987013,10
3190939,"(Q8, Q11)","(Q18, Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q7)",0.318841,0.909091,2.987013,10
3193473,"(Q8, Q11)","(Q18, Q10, Q1, Q15, Q16, Q14, Q9, Q17, Q13, Q7)",0.318841,0.909091,2.987013,10
3180886,"(Q13, Q8)","(Q10, Q1, Q11, Q12, Q15, Q16, Q14, Q9, Q17, Q7)",0.318841,0.909091,2.851240,10
3193474,"(Q13, Q8)","(Q18, Q10, Q1, Q11, Q15, Q16, Q14, Q9, Q17, Q7)",0.318841,0.909091,2.851240,10
3238446,"(Q8, Q11, Q12)","(Q10, Q1, Q15, Q16, Q14, Q9, Q17, Q13, Q7, Q3)",0.304348,0.904762,3.121429,10
3248961,"(Q8, Q11, Q12)","(Q18, Q10, Q1, Q15, Q16, Q14, Q9, Q17, Q7, Q3)",0.304348,0.904762,3.121429,10
3096346,"(Q8, Q3)","(Q10, Q1, Q11, Q12, Q15, Q16, Q14, Q9, Q13, Q7)",0.304348,0.904762,2.972789,10
3098469,"(Q8, Q3)","(Q10, Q1, Q11, Q12, Q15, Q14, Q9, Q17, Q13, Q7)",0.304348,0.904762,2.972789,10
3101235,"(Q8, Q3)","(Q10, Q1, Q11, Q12, Q16, Q14, Q9, Q17, Q13, Q7)",0.304348,0.904762,2.972789,10
3104700,"(Q8, Q3)","(Q10, Q1, Q11, Q12, Q15, Q16, Q9, Q17, Q13, Q7)",0.304348,0.904762,2.972789,10
3111891,"(Q8, Q3)","(Q18, Q10, Q1, Q11, Q12, Q15, Q16, Q14, Q9, Q7)",0.304348,0.904762,2.972789,10
3114006,"(Q8, Q3)","(Q18, Q10, Q1, Q11, Q12, Q15, Q14, Q9, Q17, Q7)",0.304348,0.904762,2.972789,10
3115985,"(Q8, Q3)","(Q18, Q10, Q1, Q11, Q12, Q16, Q14, Q9, Q17, Q7)",0.304348,0.904762,2.972789,10
3118212,"(Q8, Q3)","(Q18, Q10, Q1, Q11, Q12, Q15, Q16, Q9, Q17, Q7)",0.304348,0.904762,2.972789,10
3126677,"(Q8, Q3)","(Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q13, Q7)",0.304348,0.904762,2.972789,10
3129886,"(Q8, Q3)","(Q18, Q10, Q1, Q12, Q16, Q14, Q9, Q17, Q13, Q7)",0.304348,0.904762,2.972789,10
3132480,"(Q8, Q3)","(Q18, Q10, Q1, Q12, Q15, Q16, Q14, Q9, Q17, Q7)",0.304348,0.904762,2.972789,10
3135250,"(Q8, Q3)","(Q15, Q1, Q11, Q12, Q16, Q14, Q9, Q17, Q13, Q7)",0.304348,0.904762,2.972789,10
3140473,"(Q8, Q3)","(Q18, Q15, Q1, Q11, Q12, Q16, Q14, Q9, Q17, Q7)",0.304348,0.904762,2.972789,10
3143882,"(Q8, Q3)","(Q10, Q1, Q11, Q12, Q15, Q16, Q14, Q17, Q13, Q7)",0.304348,0.904762,2.972789,10
3148857,"(Q8, Q3)","(Q18, Q10, Q1, Q11, Q12, Q15, Q16, Q14, Q17, Q7)",0.304348,0.904762,2.972789,10
3210295,"(Q8, Q3)","(Q10, Q11, Q12, Q15, Q16, Q14, Q9, Q17, Q13, Q7)",0.304348,0.904762,2.972789,10
3215548,"(Q8, Q3)","(Q18, Q10, Q11, Q12, Q15, Q16, Q14, Q9, Q17, Q7)",0.304348,0.904762,2.972789,10
3238444,"(Q8, Q10, Q3)","(Q15, Q1, Q12, Q11, Q16, Q14, Q9, Q17, Q13, Q7)",0.304348,0.904762,2.972789,10

In [82]:
# Select only pairs (rules with antecedent and consequent of size one)
# Sort pairs according to confidence
rules["fusedRule"] = rules[["antecedants", "consequents"]].apply(lambda x: frozenset().union(*x), axis=1)
rules["ruleSize"] = rules["fusedRule"].apply(lambda x: len(x))
pairRules = rules.sort_values(by=["ruleSize", "confidence", "lift"], ascending=[True, False, False])
pairRules.head(30)

,antecedants,consequents,support,confidence,lift,consequentSize,fusedRule,ruleSize
30,(Q8),(Q7),0.347826,1.000000,2.653846,1,"(Q8, Q7)",2
59,(Q9),(Q16),0.376812,1.000000,1.971429,1,"(Q9, Q16)",2
57,(Q9),(Q14),0.376812,1.000000,1.725000,1,"(Q14, Q9)",2
5,(Q7),(Q1),0.376812,1.000000,1.210526,1,"(Q1, Q7)",2
6,(Q8),(Q1),0.347826,1.000000,1.210526,1,"(Q8, Q1)",2
16,(Q18),(Q1),0.536232,0.972973,1.177809,1,"(Q18, Q1)",2
0,(Q2),(Q1),0.521739,0.972222,1.176901,1,"(Q2, Q1)",2
2,(Q4),(Q1),0.434783,0.966667,1.170175,1,"(Q1, Q4)",2
67,(Q10),(Q16),0.405797,0.964286,1.901020,1,"(Q10, Q16)",2
68,(Q10),(Q17),0.405797,0.964286,1.750940,1,"(Q17, Q10)",2
64,(Q10),(Q13),0.405797,0.964286,1.663393,1,"(Q13, Q10)",2
65,(Q10),(Q14),0.405797,0.964286,1.663393,1,"(Q10, Q14)",2
27,(Q5),(Q12),0.405797,0.964286,1.547342,1,"(Q5, Q12)",2
66,(Q10),(Q15),0.405797,0.964286,1.547342,1,"(Q10, Q15)",2
8,(Q10),(Q1),0.405797,0.964286,1.167293,1,"(Q10, Q1)",2
34,(Q7),(Q10),0.376812,0.961538,2.369505,1,"(Q10, Q7)",2
53,(Q9),(Q10),0.376812,0.961538,2.369505,1,"(Q10, Q9)",2
42,(Q7),(Q18),0.376812,0.961538,1.793139,1,"(Q18, Q7)",2
41,(Q7),(Q17),0.376812,0.961538,1.745951,1,"(Q17, Q7)",2
54,(Q9),(Q11),0.376812,0.961538,1.745951,1,"(Q11, Q9)",2
60,(Q9),(Q17),0.376812,0.961538,1.745951,1,"(Q17, Q9)",2
38,(Q7),(Q14),0.376812,0.961538,1.658654,1,"(Q14, Q7)",2
36,(Q7),(Q12),0.376812,0.961538,1.542934,1,"(Q12, Q7)",2
39,(Q7),(Q15),0.376812,0.961538,1.542934,1,"(Q15, Q7)",2
55,(Q9),(Q12),0.376812,0.961538,1.542934,1,"(Q12, Q9)",2
58,(Q9),(Q15),0.376812,0.961538,1.542934,1,"(Q15, Q9)",2
7,(Q9),(Q1),0.376812,0.961538,1.163968,1,"(Q1, Q9)",2
28,(Q6),(Q12),0.362319,0.960000,1.540465,1,"(Q12, Q6)",2
43,(Q8),(Q9),0.347826,0.958333,2.543269,1,"(Q8, Q9)",2
44,(Q8),(Q10),0.347826,0.958333,2.361607,1,"(Q10, Q8)",2

In [83]:
# Sort questions by number of apparition in consequents
questions = list(correctedScientific.columns)
for q in questions:
    rules[q+"c"] = rules["consequents"].apply(lambda x: 1 if q in x else 0)
occurenceInConsequents = rules.loc[:,"Q1c":"Q27c"].sum(axis=0)
occurenceInConsequents

Q1c     1094358
Q2c      129770
Q3c      463427
Q4c        1749
Q5c        1020
Q6c           0
Q7c      713232
Q8c      271179
Q9c      795279
Q10c     940653
Q11c     864015
Q12c     969324
Q13c     612709
Q14c    1093125
Q15c     865866
Q16c     970465
Q17c    1089314
Q18c     633669
Q19c          0
Q20c          0
Q21c          0
Q22c          0
Q23c          0
Q24c          0
Q25c          0
Q26c          0
Q27c          0
dtype: int64

In [84]:
# Sort questions by number of apparition in antecedants
for q in questions:
    rules[q+"a"] = rules["antecedants"].apply(lambda x: 1 if q in x else 0)
occurenceInAntecedants = rules.loc[:,"Q1a":"Q27a"].sum(axis=0)
occurenceInAntecedants

Q1a     1096064
Q2a     1121749
Q3a     1278073
Q4a      120633
Q5a      137233
Q6a        4156
Q7a     1336841
Q8a     1502712
Q9a     1321093
Q10a    1118779
Q11a    1231439
Q12a    1226148
Q13a    1119074
Q14a    1098776
Q15a    1226720
Q16a    1197788
Q17a    1106113
Q18a    1117381
Q19a          0
Q20a          0
Q21a          0
Q22a          0
Q23a          0
Q24a          0
Q25a          0
Q26a          0
Q27a          0
dtype: int64