In [1]:
%run dataFormating.ipynb

C:\Users\Mikael\Anaconda3\envs\conda-env-python3-py\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (18,22,28,32,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Mikael\Anaconda3\envs\conda-env-python3-py\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (18,22,28,32,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Mikael\Anaconda3\envs\conda-env-python3-py\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (18,22,28,32,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Mikael\Anaconda3\envs\conda-env-python3-py\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (18,22,28,32,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

FloatProgress(value=0.0, max=170.0)

# What subsets of scientific questions tend to be answered correctly by the same subjects?

## Mining

In [2]:
from orangecontrib.associate.fpgrowth import *  
import pandas as pd
from numpy import *

In [3]:
questions = correctedScientific.columns
correctedScientificText = [[] for _ in range(correctedScientific.shape[0])]
for q in questions:
    for r in range(correctedScientific.shape[0]):
        if correctedScientific.loc[r, q]:
            correctedScientificText[r].append(q)
#correctedScientificText

In [4]:
# Get frequent itemsets with support > 25%
# run time < 1 min
itemsets = frequent_itemsets(correctedScientificText, math.floor(len(correctedScientificText) * 0.25))
#dict(itemsets)

In [5]:
# Generate rules according to confidence, confidence > 85 %
# run time < 5 min
rules = association_rules(dict(itemsets), 0.85)
#list(rules)

In [6]:
# Transform rules generator into a Dataframe
rulesDataframe = pd.DataFrame([(ant, cons, supp, conf) for ant, cons, supp, conf in rules])
rulesDataframe.rename(columns = {0:"antecedants", 1:"consequents", 2:"support", 3:"confidence"}, inplace=True)
rulesDataframe.head()

,antecedants,consequents,support,confidence
0,"(Q14, Q12, Q2, Q1, Q26, Q21, Q15, Q27, Q19, Q2...",(Q17),55,0.948276
1,"(Q12, Q2, Q1, Q26, Q21, Q15, Q27, Q19, Q20, Q18)","(Q17, Q14)",55,0.887097
2,"(Q14, Q2, Q1, Q26, Q21, Q15, Q27, Q19, Q20, Q18)","(Q17, Q12)",55,0.901639
3,"(Q14, Q2, Q26, Q21, Q15, Q27, Q19, Q20, Q18)","(Q1, Q17, Q12)",55,0.859375
4,"(Q14, Q12, Q2, Q26, Q21, Q15, Q27, Q19, Q20, Q18)","(Q1, Q17)",55,0.916667

In [7]:
# Save the mined rules to file
rulesDataframe.to_csv("results/associationRulesMiningSupport25percentsConfidence85percents.csv")

## Search for interesting rules
Interesting rules are more likely to be the ones with highest confidence, the highest lift or with a bigger consequent set. Pairs can also be especially interesting

In [8]:
# Sort rules by confidence
confidenceSortedRules = rulesDataframe.sort_values(by = ["confidence", "support"], ascending=[False, False])
confidenceSortedRules.head(50)

                       antecedants consequents  support  confidence
5181174                 (Q21, Q27)       (Q26)      110         1.0
5182081                 (Q20, Q21)       (Q26)      109         1.0
5182085                 (Q20, Q26)       (Q21)      109         1.0
5158081            (Q19, Q20, Q21)       (Q26)      108         1.0
5158091            (Q20, Q19, Q26)       (Q21)      108         1.0
5174189            (Q19, Q21, Q27)       (Q26)      108         1.0
5149060            (Q20, Q21, Q27)       (Q26)      105         1.0
5149064            (Q20, Q26, Q27)       (Q21)      105         1.0
5047507       (Q19, Q20, Q21, Q27)       (Q26)      104         1.0
5047517       (Q20, Q19, Q26, Q27)       (Q21)      104         1.0
5181789                  (Q1, Q21)       (Q26)      103         1.0
5183464                 (Q15, Q21)       (Q26)      103         1.0
5149416             (Q1, Q19, Q21)       (Q26)      102         1.0
5178373            (Q15, Q19, Q21)       (Q26)      102         1.0
5173920            (Q15, Q21, Q27)       (Q26)      101         1.0
5136312       (Q15, Q19, Q21, Q27)       (Q26)      100         1.0
5164786             (Q1, Q19, Q27)       (Q26)       99         1.0
5182708                  (Q1, Q20)       (Q19)       99         1.0
5182806                 (Q20, Q15)       (Q19)       99         1.0
5055571        (Q1, Q19, Q20, Q21)       (Q26)       98         1.0
5055573             (Q1, Q20, Q21)  (Q19, Q26)       98         1.0
5055583        (Q20, Q1, Q26, Q21)       (Q19)       98         1.0
5055589        (Q20, Q1, Q19, Q26)       (Q21)       98         1.0
5055592             (Q1, Q26, Q20)  (Q19, Q21)       98         1.0
5069182       (Q20, Q19, Q26, Q15)       (Q21)       98         1.0
5069185            (Q26, Q20, Q15)  (Q19, Q21)       98         1.0
5069188       (Q15, Q19, Q20, Q21)       (Q26)       98         1.0
5069190            (Q21, Q20, Q15)  (Q19, Q26)       98         1.0
5069201       (Q20, Q26, Q21, Q15)       (Q19)       98         1.0
5148064            (Q20, Q26, Q15)       (Q19)       98         1.0
5156453             (Q20, Q1, Q26)       (Q19)       98         1.0
5161074            (Q20, Q26, Q15)       (Q21)       98         1.0
5161077            (Q15, Q20, Q21)       (Q26)       98         1.0
5168096             (Q1, Q21, Q27)       (Q26)       98         1.0
5172744             (Q1, Q20, Q21)       (Q26)       98         1.0
5172751             (Q20, Q1, Q26)       (Q21)       98         1.0
5174205            (Q15, Q20, Q21)       (Q19)       98         1.0
5179358             (Q1, Q20, Q21)       (Q19)       98         1.0
5027928        (Q1, Q19, Q21, Q27)       (Q26)       97         1.0
5156404            (Q20, Q15, Q27)       (Q19)       97         1.0
4434656  (Q15, Q19, Q20, Q21, Q27)       (Q26)       96         1.0
4434658       (Q21, Q20, Q15, Q27)  (Q19, Q26)       96         1.0
4434671  (Q20, Q19, Q26, Q15, Q27)       (Q21)       96         1.0
4434675       (Q26, Q20, Q15, Q27)  (Q19, Q21)       96         1.0
4434678  (Q20, Q27, Q26, Q21, Q15)       (Q19)       96         1.0
4972093       (Q20, Q26, Q15, Q27)       (Q19)       96         1.0
5065441       (Q15, Q20, Q21, Q27)       (Q19)       96         1.0
5117791       (Q20, Q26, Q15, Q27)       (Q21)       96         1.0
5117794       (Q15, Q20, Q21, Q27)       (Q26)       96         1.0
5181684                  (Q2, Q27)       (Q26)       96         1.0

In [9]:
# Sort rules by size of consequent set
rulesDataframe["consequentSize"] = rulesDataframe["consequents"].apply(lambda x: len(x))
consequentSortedRules = rulesDataframe.sort_values(by = ["consequentSize", "confidence", "support"], ascending=[False, False, False])
consequentSortedRules.head(50)

,antecedants,consequents,support,confidence,consequentSize
15535,"(Q14, Q11, Q2)","(Q15, Q26, Q12, Q1, Q19, Q20, Q21, Q27)",56,0.903226,8
66435,"(Q16, Q22, Q2)","(Q15, Q17, Q26, Q12, Q19, Q20, Q21, Q27)",56,0.903226,8
25263,"(Q7, Q10, Q12)","(Q15, Q26, Q3, Q11, Q19, Q20, Q21, Q27)",55,0.901639,8
36478,"(Q10, Q11, Q2)","(Q15, Q26, Q12, Q1, Q19, Q20, Q21, Q27)",55,0.901639,8
61005,"(Q12, Q10, Q7)","(Q15, Q26, Q3, Q1, Q11, Q19, Q20, Q21)",55,0.901639,8
45200,"(Q12, Q11, Q7)","(Q15, Q26, Q3, Q1, Q19, Q20, Q21, Q27)",56,0.888889,8
54645,"(Q11, Q12, Q18)","(Q15, Q26, Q3, Q1, Q19, Q20, Q21, Q27)",56,0.888889,8
63761,"(Q16, Q2, Q18)","(Q15, Q17, Q26, Q14, Q19, Q20, Q21, Q27)",56,0.888889,8
66424,"(Q16, Q22, Q12)","(Q15, Q17, Q26, Q2, Q19, Q20, Q21, Q27)",56,0.888889,8
97079,"(Q11, Q12, Q18)","(Q15, Q26, Q2, Q1, Q19, Q20, Q21, Q27)",56,0.888889,8
97095,"(Q11, Q2, Q18)","(Q15, Q26, Q12, Q1, Q19, Q20, Q21, Q27)",56,0.888889,8
3071,"(Q1, Q16, Q14, Q12)","(Q15, Q17, Q26, Q2, Q19, Q20, Q21, Q27)",55,0.887097,8
3076,"(Q16, Q17, Q14, Q12)","(Q15, Q26, Q2, Q1, Q19, Q20, Q21, Q27)",55,0.887097,8
3095,"(Q16, Q14, Q12, Q2)","(Q15, Q17, Q26, Q1, Q19, Q20, Q21, Q27)",55,0.887097,8
3096,"(Q1, Q16, Q12, Q2)","(Q15, Q17, Q26, Q14, Q19, Q20, Q21, Q27)",55,0.887097,8
4872,"(Q1, Q17, Q11, Q2)","(Q15, Q26, Q12, Q3, Q19, Q20, Q21, Q27)",55,0.887097,8
6987,"(Q3, Q10, Q12)","(Q15, Q26, Q1, Q11, Q19, Q20, Q21, Q27)",55,0.887097,8
6989,"(Q3, Q10, Q11)","(Q15, Q26, Q12, Q1, Q19, Q20, Q21, Q27)",55,0.887097,8
22709,"(Q1, Q16, Q22)","(Q15, Q26, Q14, Q2, Q19, Q20, Q21, Q27)",55,0.887097,8
22724,"(Q16, Q22, Q2)","(Q15, Q26, Q14, Q1, Q19, Q20, Q21, Q27)",55,0.887097,8
24453,"(Q3, Q10, Q12)","(Q15, Q7, Q26, Q11, Q19, Q20, Q21, Q27)",55,0.887097,8
24454,"(Q3, Q10, Q11)","(Q15, Q7, Q26, Q12, Q19, Q20, Q21, Q27)",55,0.887097,8
25261,"(Q10, Q11, Q7)","(Q15, Q26, Q12, Q3, Q19, Q20, Q21, Q27)",55,0.887097,8
36476,"(Q10, Q12, Q2)","(Q15, Q26, Q1, Q11, Q19, Q20, Q21, Q27)",55,0.887097,8
36479,"(Q1, Q10, Q2)","(Q15, Q26, Q12, Q11, Q19, Q20, Q21, Q27)",55,0.887097,8
37793,"(Q1, Q16, Q22)","(Q15, Q17, Q26, Q14, Q19, Q20, Q21, Q27)",55,0.887097,8
52161,"(Q1, Q16, Q22)","(Q15, Q17, Q26, Q2, Q19, Q20, Q21, Q27)",55,0.887097,8
52172,"(Q16, Q22, Q2)","(Q15, Q17, Q26, Q1, Q19, Q20, Q21, Q27)",55,0.887097,8
56570,"(Q22, Q11, Q2)","(Q15, Q17, Q26, Q12, Q19, Q20, Q21, Q27)",55,0.887097,8
60214,"(Q3, Q10, Q12)","(Q15, Q7, Q26, Q1, Q11, Q19, Q20, Q21)",55,0.887097,8
60216,"(Q3, Q10, Q11)","(Q15, Q7, Q26, Q12, Q1, Q19, Q20, Q21)",55,0.887097,8
61007,"(Q10, Q11, Q7)","(Q15, Q26, Q12, Q3, Q1, Q19, Q20, Q21)",55,0.887097,8
67020,"(Q3, Q22, Q11)","(Q15, Q26, Q12, Q1, Q19, Q20, Q21, Q27)",55,0.887097,8
67331,"(Q1, Q22, Q11)","(Q15, Q26, Q12, Q3, Q19, Q20, Q21, Q27)",55,0.887097,8
67943,"(Q1, Q16, Q22)","(Q15, Q26, Q2, Q12, Q19, Q20, Q21, Q27)",55,0.887097,8
67959,"(Q16, Q22, Q2)","(Q15, Q26, Q12, Q1, Q19, Q20, Q21, Q27)",55,0.887097,8
78161,"(Q1, Q22, Q11)","(Q15, Q26, Q2, Q12, Q19, Q20, Q21, Q27)",55,0.887097,8
78176,"(Q22, Q11, Q2)","(Q15, Q26, Q12, Q1, Q19, Q20, Q21, Q27)",55,0.887097,8
82048,"(Q3, Q22, Q11)","(Q15, Q26, Q2, Q12, Q19, Q20, Q21, Q27)",55,0.887097,8
82362,"(Q22, Q11, Q2)","(Q15, Q26, Q12, Q3, Q19, Q20, Q21, Q27)",55,0.887097,8
86205,"(Q16, Q22, Q2)","(Q15, Q17, Q26, Q14, Q19, Q20, Q21, Q27)",55,0.887097,8
91929,"(Q16, Q22, Q2)","(Q15, Q26, Q14, Q12, Q19, Q20, Q21, Q27)",55,0.887097,8
95540,"(Q16, Q2, Q13)","(Q15, Q17, Q26, Q12, Q19, Q20, Q21, Q27)",55,0.887097,8
12136,"(Q1, Q16, Q14)","(Q15, Q17, Q26, Q2, Q19, Q20, Q21, Q27)",58,0.878788,8
12153,"(Q16, Q14, Q2)","(Q15, Q17, Q26, Q1, Q19, Q20, Q21, Q27)",58,0.878788,8
12154,"(Q1, Q16, Q2)","(Q15, Q17, Q26, Q14, Q19, Q20, Q21, Q27)",58,0.878788,8
234648,"(Q10, Q11)","(Q15, Q26, Q12, Q1, Q19, Q20, Q21, Q27)",58,0.878788,8
5653,"(Q1, Q16, Q12)","(Q15, Q17, Q26, Q2, Q19, Q20, Q21, Q27)",57,0.876923,8
5665,"(Q16, Q12, Q2)","(Q15, Q17, Q26, Q1, Q19, Q20, Q21, Q27)",57,0.876923,8
24011,"(Q16, Q12, Q2)","(Q15, Q17, Q26, Q14, Q19, Q20, Q21, Q27)",57,0.876923,8

In [10]:
# Select only pairs (rules with antecedent and consequent of size one)
# Sort pairs according to confidence
rulesDataframe["fusedRule"] = rulesDataframe[["antecedants", "consequents"]].apply(lambda x: frozenset().union(*x), axis=1)
rulesDataframe["ruleSize"] = rulesDataframe["fusedRule"].apply(lambda x: len(x))
pairRules = rulesDataframe.sort_values(by=["ruleSize", "confidence", "support"], ascending=[True, False, False])
pairRules.head(30)

,antecedants,consequents,support,confidence,consequentSize,fusedRule,ruleSize
5183718,(Q18),(Q19),86,1.000000,1,"(Q19, Q18)",2
5183765,(Q16),(Q26),79,1.000000,1,"(Q16, Q26)",2
5183629,(Q21),(Q26),115,0.991379,1,"(Q26, Q21)",2
5183776,(Q20),(Q19),110,0.990991,1,"(Q19, Q20)",2
5183747,(Q14),(Q26),99,0.990000,1,"(Q14, Q26)",2
5183649,(Q22),(Q26),93,0.989362,1,"(Q22, Q26)",2
5183738,(Q22),(Q19),93,0.989362,1,"(Q22, Q19)",2
5183706,(Q13),(Q26),89,0.988889,1,"(Q26, Q13)",2
5183664,(Q18),(Q21),85,0.988372,1,"(Q21, Q18)",2
5183687,(Q7),(Q26),80,0.987654,1,"(Q26, Q7)",2
5183744,(Q23),(Q27),79,0.987500,1,"(Q27, Q23)",2
5183745,(Q23),(Q26),79,0.987500,1,"(Q26, Q23)",2
5183645,(Q9),(Q26),77,0.987179,1,"(Q9, Q26)",2
5183655,(Q10),(Q19),76,0.987013,1,"(Q10, Q19)",2
5183691,(Q10),(Q26),76,0.987013,1,"(Q10, Q26)",2
5183668,(Q21),(Q19),114,0.982759,1,"(Q19, Q21)",2
5183607,(Q20),(Q21),109,0.981982,1,"(Q20, Q21)",2
5183772,(Q20),(Q26),109,0.981982,1,"(Q26, Q20)",2
5183705,(Q14),(Q27),98,0.980000,1,"(Q14, Q27)",2
5183707,(Q17),(Q26),96,0.979592,1,"(Q17, Q26)",2
5183616,(Q11),(Q26),84,0.976744,1,"(Q11, Q26)",2
5183677,(Q18),(Q26),84,0.976744,1,"(Q26, Q18)",2
5183604,(Q16),(Q21),77,0.974684,1,"(Q16, Q21)",2
5183611,(Q16),(Q19),77,0.974684,1,"(Q16, Q19)",2
5183732,(Q16),(Q15),77,0.974684,1,"(Q16, Q15)",2
5183610,(Q17),(Q15),95,0.969388,1,"(Q17, Q15)",2
5183638,(Q17),(Q19),95,0.969388,1,"(Q17, Q19)",2
5183753,(Q17),(Q21),95,0.969388,1,"(Q17, Q21)",2
5183769,(Q17),(Q27),95,0.969388,1,"(Q17, Q27)",2
5183701,(Q22),(Q21),91,0.968085,1,"(Q22, Q21)",2

In [11]:
# Sort questions by number of apparition in consequents
questions = list(correctedScientific.columns)
for q in questions:
    rulesDataframe[q+"c"] = rulesDataframe["consequents"].apply(lambda x: 1 if q in x else 0)
occurenceInConsequents = rulesDataframe.loc[:,"Q1c":"Q27c"].sum(axis=0)
occurenceInConsequents.sort_values(inplace=True, ascending=False)
occurenceInConsequents

Q26c    1758948
Q21c    1744929
Q19c    1744209
Q15c    1471962
Q20c    1333079
Q27c    1262087
Q1c      988543
Q17c     826626
Q12c     785341
Q2c      693805
Q3c      439535
Q18c     412073
Q14c     406106
Q11c     357748
Q22c     281917
Q13c     191547
Q7c      190478
Q16c     152483
Q10c     108249
Q9c       19096
Q25c       8678
Q4c        2156
Q24c        399
Q8c          63
Q23c          0
Q6c           0
Q5c           0
dtype: int64

In [12]:
# Sort questions by number of apparition in antecedants
for q in questions:
    rulesDataframe[q+"a"] = rulesDataframe["antecedants"].apply(lambda x: 1 if q in x else 0)
occurenceInAntecedants = rulesDataframe.loc[:,"Q1a":"Q27a"].sum(axis=0)
occurenceInAntecedants.sort_values(inplace=True, ascending=False)
occurenceInAntecedants

Q21a    1740622
Q19a    1739193
Q26a    1716866
Q15a    1716602
Q20a    1599467
Q1a     1548233
Q12a    1513313
Q27a    1505686
Q2a     1425915
Q17a    1353057
Q3a     1286607
Q18a    1251237
Q11a    1125737
Q14a    1084305
Q16a     978956
Q22a     973491
Q13a     871482
Q7a      742628
Q10a     704897
Q9a      278858
Q25a     223880
Q4a      178161
Q24a      96890
Q5a       56075
Q23a       7697
Q8a        6270
Q6a         683
dtype: int64