In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

# Case 1

In [12]:
df1 = pd.DataFrame({
        'values1' : [
            '1',
            '2',
            '3'
        ]
    }
                  )

df2 = pd.DataFrame({
        'values1' : [
            '1',
            '3',
            '1'
        ],
        'values2' : [
            '2',
            '2',
            '2'
        ]
    }
                  )

print(df1)
print(df2)

  values1
0       1
1       2
2       3
  values1 values2
0       1       2
1       3       2
2       1       2

In [13]:
df1.iloc[0,:].values

array(['1'], dtype=object)

In [16]:
df3 = df1['values1']==df2['values1']
print(df3)

0     True
1    False
2    False
Name: values1, dtype: bool

# Case 2

In [17]:
df3 = pd.DataFrame({
        'values3' : [
            '1',
            '2',
            '3'
        ]
    }
                  )

df4 = pd.DataFrame({
        'values4' : [
            '1',
            '3',
            '1'
        ]
    }
                  )

print(df3)
print(df4)

  values3
0       1
1       2
2       3
  values4
0       1
1       3
2       1

In [19]:
df5 = df3.values==df4.values
print(df5)

[[ True]
 [False]
 [False]]

# Case 3

In [20]:
df6 = pd.DataFrame({
        'values6' : [
            '1',
            '2',
            '3'
        ]
    }
                  )

df7 = pd.DataFrame({
        'values7' : [
            '123',
            '312',
            '123'
        ]
    }
                  )

print(df6)
print(df7)

  values6
0       1
1       2
2       3
  values7
0     123
1     312
2     123

In [21]:
df8 = df6.values==df7.values
print(df8)

[[False]
 [False]
 [False]]

In [25]:
type(df6.values)

numpy.ndarray

In [35]:
#df9 = pd.DataFrame(df6.values.apply(u.str.startswith(v), df7.values))

#df9 = pd.concat([df6.rename(index=str, columns={'values6': 'values7'}), df7])

#df9.reset_index(drop=True)

df9 = pd.concat([df6, df7])

print(df9)

  values6 values7
0       1     NaN
1       2     NaN
2       3     NaN
0     NaN     123
1     NaN     312
2     NaN     123

In [49]:
df10 = pd.DataFrame(df6)
df10['values7'] = df7['values7']
df10['comparison'] = df10.apply(lambda row: row['values7'].startswith(row['values6']),axis=1)
df10

  values6 values7 comparison
0       1     123       True
1       2     312      False
2       3     123      False