# Preparation

In [15]:
%run "../Functions/2. Game sessions.ipynb"

C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (24,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Tests

In [16]:
sessionscount = rdf["sessionId"].nunique()
sessionscount

2997

In [17]:
platforms = rdf["customData.platform"].unique()
platforms

array([nan, '"windowseditor"', '"windowswebplayer"', '"osxwebplayer"',
       '"osxeditor"', '"webglplayer"', '"osxplayer"', '"windowsplayer"',
       '"android"', '"linuxplayer"'], dtype=object)

print("part100="+str(part100.head(1)))
print("part131="+str(part131.head(1)))
print("part132="+str(part132.head(1)))
print("part133="+str(part133.head(1)))
print("part140="+str(part140.head(1)))
print("part150="+str(part150.head(1)))
print("part151="+str(part151.head(1)))
print("part152="+str(part152.head(1)))
print("df="+str(df.head(1)))

In [18]:
testGUID = '"0bb50c7b-d9c4-466d-b906-84e46896f41d"'

In [19]:
# includewithoutusers=True will count sessions that do not have any userId attached
countSessions( rdf, testGUID, True)

5

print("part100="+str(part100.columns))
print("part131="+str(part131.columns))
print("part132="+str(part132.columns))
print("part133="+str(part133.columns))
print("part140="+str(part140.columns))
print("part150="+str(part150.columns))
print("part151="+str(part151.columns))
print("part152="+str(part152.columns))

print("dfconcat="+str(dfconcat.columns))

print("df="+str(df.columns))

df.columns

In [20]:
sessionsList = getAllSessionsOfUser(rdf, testGUID, True)
sessionsList

,userId,sessionId
2837,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",78353b53-1083-452a-bcd6-6d5ae7b81e1e
2838,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",e7c44e50-daeb-4755-8432-c7d337f5c8e8
2841,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",7195155f-8db4-4f8b-b586-9ed67d5fcb56
2843,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",58bf9eed-be24-4128-881b-aec23f6a34b3
2857,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",7e75b052-ed53-4b08-a1f8-83404e9f4870

In [21]:
sessionsList = rdf[rdf['type']=='start']
sessionsList = sessionsList.drop('type', 1)
sessionsList = sessionsList.dropna(how='any')
userSessionsList = sessionsList[sessionsList['userId']==testGUID]
userSessionsList

Empty DataFrame
Columns: [coordinates, customData, customData.biobrick, customData.chapter, customData.controls, customData.count, customData.device, customData.devices, customData.dnabit, customData.duration, customData.energy, customData.gamelevel, customData.graphics, customData.language, customData.life, userId, customData.message, customData.nanobot, customData.newtab, customData.option, customData.plasmid, customData.platform, customData.sametab, customData.slot, customData.sound, customData.source, customData.total, gameVersion, id, playerBirthdate, playerCountry, playerCustomData, playerExternalId, playerGender, sessionId, playerRegion, section, serverTime, userTime]
Index: []

[0 rows x 39 columns]

In [22]:
#print(testGUID)
sessionsList = getAllSessions(df, testGUID)
#sessionsList = getAllSessions(df, testGUID.replace('"',''))
#print(type(sessionsList))
sessionsList.shape[0]

2349

In [23]:
test = devPCID5.replace('"','')
#print(test)
#print(devPCID5)

In [24]:
allSessions = getAllSessions( df, True )
allSessions.head()

,userId,sessionId
2833,"""bcdc67e1-11a7-4a52-9ddf-735a60bcea63""",155ebc22-ccad-4f44-a619-4cc2496a88ba
2834,"""d01f5d57-c5fb-42a2-bb35-432c61277f46""",a4d4df1d-1394-423b-aa3f-ad0bcc86110f
2837,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",78353b53-1083-452a-bcd6-6d5ae7b81e1e
2838,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",e7c44e50-daeb-4755-8432-c7d337f5c8e8
2841,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",7195155f-8db4-4f8b-b586-9ed67d5fcb56

In [25]:
allSessions.groupby('userId').size().reset_index(name='counts').sort_values(by='counts', ascending=False).head(10)

                                      userId  counts
917   "a8ba2b83-c911-489c-98be-5fde646c46de"     140
1223  "deb089c0-9be3-4b75-9b27-28963c77b10c"      35
877   "a151ad65-75fd-4dc1-b466-8852e6f085d2"      30
431   "4dbc2f43-421c-4e23-85d4-f17723ff8c66"      27
752   "89f8da5a-fdb8-4d47-b71f-fa01c0fa320f"      18
1180  "d6826fd9-a6fc-4046-b974-68e50576183f"      18
486   "57e2b6b7-c308-4492-9228-f753d5b3044c"      16
1179  "d6007d58-33dd-4a36-8918-8473f0afc22a"      14
165   "1f742172-0443-4fc7-b38a-621fa62b323f"      13
404   "47e7b80b-fd20-49ad-bf54-d31da5430016"      13

In [26]:
getUserSessionsCounts(getNormalizedRedMetricsCSV(part152)).head(10)

                                     userId  counts
216  "deb089c0-9be3-4b75-9b27-28963c77b10c"      35
208  "d6826fd9-a6fc-4046-b974-68e50576183f"      18
84   "57e2b6b7-c308-4492-9228-f753d5b3044c"      16
30   "1f742172-0443-4fc7-b38a-621fa62b323f"      13
161  "a4d4b030-9117-4331-ba48-90dc05a7e65a"      11
158  "a151ad65-75fd-4dc1-b466-8852e6f085d2"      10
39   "257b955f-0252-46a8-9089-e37ad2d53f04"       8
140  "93098530-62fc-4092-a041-b5adff8b7f54"       8
121  "7cece567-45d0-42e7-9870-3f83fb7de271"       7
146  "9880ce9d-c6fc-476e-98a9-a9e8c8f7fcdc"       6

In [27]:
allSessions.groupby('userId').agg(['count']).head() #.sort_values(by='sessionId', ascending=False).head(10)

                                       sessionId
                                           count
userId
"001c95c6-8207-43dc-a51b-adf0c6e005d7"         1
"004d41be-083b-48c4-a0c4-a17967269f5a"         1
"00b0cddb-70cd-47ca-bbc7-695179b28a33"         1
"00cf9a9d-d588-47a9-87f4-ebd788e32b8b"         1
"0102e08c-2a4e-4860-b4e2-7a4e9d474c58"         1

In [28]:
#df2 = pd.concat([df151, df152])
#df2.head(2)
#print(df2.columns)
#df2columns = df2.columns.values
#type(df2columns)
#df2columns
#newColumns = np.concatenate((minimalInitializationColumns, df2columns))
#newColumns
#df2 = getNormalizedRedMetricsCSV(df)