# Per session and per user analysis

Analysis of users.

# Table of Contents

1.  [Preparation](#preparation)

2.  [Function tests](#functests)

# Preparation
<a id=preparation />

In [84]:
%run "../Functions/3. Per session and per user analysis.ipynb"

C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (24,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [85]:
df152.head()

,coordinates,customData,customData.biobrick,customData.chapter,customData.controls,customData.count,customData.device,customData.devices,customData.dnabit,customData.duration,...,playerCountry,playerCustomData,playerExternalId,playerGender,sessionId,playerRegion,section,serverTime,type,userTime
0,"[-229, -608]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:57:48.448Z,start,2017-04-12T08:57:49.752Z
1,"[-229, -608]",NaN,NaN,NaN,NaN,NaN,NaN,"""""",NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:58:14.441Z,selectmenu,2017-04-12T08:58:15.799Z
2,"[-125, 373]",NaN,NaN,NaN,NaN,NaN,"""PRLACI:RBS1:REPR2:DTER""","""slot0[PRLACI:RBS1:REPR2:DTER]""",NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:58:26.229Z,add,2017-04-12T08:58:27.575Z
3,"[-125, 373]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:58:37.640Z,switchfromgameversion,2017-04-12T08:58:38.987Z
4,"[-229, -608]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2d76c4ef-f260-4963-82f4-ff598d2a63b4,NaN,NaN,2017-04-12T09:30:51.879Z,start,2017-04-12T09:30:31.060Z

# Per-session analysis

In [86]:


testSessionId = "fab3ea03-6ff1-483f-a90a-74ff47d0b556"

perSession = df152[df152['type']=='reach'].loc[:,perSessionRelevantColumns]
perSession = perSession[perSession['sessionId']==testSessionId]
perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
perSession

,sessionId,serverTime,section
21777,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:05:18.293Z,tutorial1.Checkpoint00
21783,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:08:17.799Z,tutorial1.Checkpoint01
21798,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:13:28.227Z,tutorial1.Checkpoint02
21803,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:15:27.959Z,tutorial1.Checkpoint03
21809,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:16:11.658Z,tutorial1.Checkpoint04
21822,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:19:29.421Z,tutorial1.Checkpoint03
21823,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:19:47.058Z,tutorial1.Checkpoint04
21824,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:20:12.739Z,tutorial1.Checkpoint05
22065,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:34:32.438Z,tutorial1.Checkpoint06
22081,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:37:59.659Z,tutorial1.Checkpoint07
22186,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:45:27.478Z,tutorial1.Checkpoint08
22192,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:46:34.417Z,tutorial1.Checkpoint09
22196,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:47:39.021Z,tutorial1.Checkpoint10
22199,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:47:46.360Z,tutorial1.Checkpoint11
22201,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:48:16.857Z,tutorial1.Checkpoint12
22282,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:53:44.320Z,tutorial1.Checkpoint13

In [87]:
allSessions = getAllSessions( df152, True )
allSessions.head()

,userId,sessionId
0,"""4dbc2f43-421c-4e23-85d4-f17723ff8c66""",b724663c-b32a-4079-9f8f-896762b272d1
4,"""1a8924de-7cc6-4ff5-8735-4cddac309117""",2d76c4ef-f260-4963-82f4-ff598d2a63b4
67,"""1a8924de-7cc6-4ff5-8735-4cddac309117""",6a9893c1-da09-42c7-832e-4d0746fa779e
74,"""a6483353-5db1-4c6c-98d7-b6328d0f4456""",c430c60c-d7cb-4fc5-893b-dce440696caf
88,"""0fa88384-3115-4ebd-990d-6bd29214c04f""",72dc3209-bd46-4026-91f0-44d2a7298175

In [88]:
allSessions[allSessions['sessionId']==testSessionId]

,userId,sessionId
21771,"""e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1""",fab3ea03-6ff1-483f-a90a-74ff47d0b556

In [89]:
allSessions[allSessions['userId']=='"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"']

,userId,sessionId
21771,"""e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1""",fab3ea03-6ff1-483f-a90a-74ff47d0b556

# Per user analysis

In [90]:
# English-speaking user who answered the questionnaire - cf 'Google form analysis.ipynb'.
localplayerguid = '"8d352896-a3f1-471c-8439-0f426df901c1"'
#localplayerguid = '"7037c5b2-c286-498e-9784-9a061c778609"'
#localplayerguid = '"5c4939b5-425b-4d19-b5d2-0384a515539e"'
#localplayerguid = '"7825d421-d668-4481-898a-46b51efe40f0"'
#localplayerguid = '"acb9c989-b4a6-4c4d-81cc-6b5783ec71d8"'
localplayerguid

'"8d352896-a3f1-471c-8439-0f426df901c1"'

In [91]:
perUserRelevantColumns = ['sessionId', 'serverTime', 'section']

In [92]:
sessionsList = getAllSessionsOfUser(df152, localplayerguid, True)

In [93]:
# List all 'reach' events with those sessionIds.
perUser = df152[df152['type']=='reach'].loc[:,perUserRelevantColumns]
perUser = perUser[perUser['sessionId'].isin(sessionsList['sessionId'])]
perUser = perUser[perUser['section'].str.startswith('tutorial', na=False)]
perUser.describe()
perUser.head()

,sessionId,serverTime,section
19988,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:01:06.876Z,tutorial1.Checkpoint00
19995,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:02:17.575Z,tutorial1.Checkpoint01
20018,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:09:41.769Z,tutorial1.Checkpoint02
20023,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:10:52.544Z,tutorial1.Checkpoint03
20028,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:11:04.463Z,tutorial1.Checkpoint04

# Common analysis

#### Switch here between users and sessions.

In [94]:
#sectionsList = perSession
sectionsList = perUser

In [95]:
timedSections = sectionsList.groupby("section").agg({ "serverTime": np.min })
timedSections.head()

                                      serverTime
section
tutorial1.Checkpoint00  2017-08-18T14:01:06.876Z
tutorial1.Checkpoint01  2017-08-18T14:02:17.575Z
tutorial1.Checkpoint02  2017-08-18T14:09:41.769Z
tutorial1.Checkpoint03  2017-08-18T14:10:52.544Z
tutorial1.Checkpoint04  2017-08-18T14:11:04.463Z

In [96]:
timedSections["firstReached"] = pd.to_datetime(timedSections["serverTime"])
timedSections.head()

                                      serverTime            firstReached
section
tutorial1.Checkpoint00  2017-08-18T14:01:06.876Z 2017-08-18 14:01:06.876
tutorial1.Checkpoint01  2017-08-18T14:02:17.575Z 2017-08-18 14:02:17.575
tutorial1.Checkpoint02  2017-08-18T14:09:41.769Z 2017-08-18 14:09:41.769
tutorial1.Checkpoint03  2017-08-18T14:10:52.544Z 2017-08-18 14:10:52.544
tutorial1.Checkpoint04  2017-08-18T14:11:04.463Z 2017-08-18 14:11:04.463

In [97]:
timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
timedSections

,serverTime,firstReached,firstCompletionDuration
section,,,
tutorial1.Checkpoint00,2017-08-18T14:01:06.876Z,2017-08-18 14:01:06.876,NaT
tutorial1.Checkpoint01,2017-08-18T14:02:17.575Z,2017-08-18 14:02:17.575,00:01:10.699000
tutorial1.Checkpoint02,2017-08-18T14:09:41.769Z,2017-08-18 14:09:41.769,00:07:24.194000
tutorial1.Checkpoint03,2017-08-18T14:10:52.544Z,2017-08-18 14:10:52.544,00:01:10.775000
tutorial1.Checkpoint04,2017-08-18T14:11:04.463Z,2017-08-18 14:11:04.463,00:00:11.919000

# Function tests
<a id=functests />

In [98]:
testResult = getUserDataVector('"7412a447-8177-48e9-82c5-cb31032f76a9"')
testResult

               "7412a447-8177-48e9-82c5-cb31032f76a9"
score                                             NaN
sessionsCount                                     4.0
complete                                          0.0
configure                                         0.0
craft                                             1.0
death                                             1.0
equip                                             1.0
gotomooc                                          0.0
gotourl                                           0.0
pickup                                            1.0
reach                                             2.0
restart                                           0.0
selectmenu                                        0.0
start                                             0.0
switch                                            0.0
unequip                                           0.0

In [99]:
testResult['"7412a447-8177-48e9-82c5-cb31032f76a9"']['death']

1.0

In [100]:
testResult = getUserDataVector('"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"')
testResult

               "e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"
score                                             NaN
sessionsCount                                     1.0
complete                                          0.0
configure                                         0.0
craft                                            23.0
death                                            17.0
equip                                           344.0
gotomooc                                          0.0
gotourl                                           0.0
pickup                                           18.0
reach                                            16.0
restart                                           1.0
selectmenu                                        3.0
start                                             0.0
switch                                            0.0
unequip                                          82.0

In [101]:
testResult = getUserDataVector('"8d352896-a3f1-471c-8439-0f426df901c1"')
testResult

               "8d352896-a3f1-471c-8439-0f426df901c1"
score                                              19
sessionsCount                                       1
complete                                            0
configure                                           0
craft                                               4
death                                               5
equip                                              22
gotomooc                                            0
gotourl                                             0
pickup                                              9
reach                                               7
restart                                             0
selectmenu                                          0
start                                               0
switch                                              0
unequip                                             0

In [102]:
gformNotEnough = []
print(gformNotEnough)

gformNotEnough.append(5)
print(gformNotEnough)

gformNotEnough = pd.Series(gformNotEnough)
print(gformNotEnough)

gformNotEnough = np.array([])
print(gformNotEnough)

gformNotEnough = np.append(gformNotEnough, [5])
print(gformNotEnough)

gformNotEnough = pd.Series(gformNotEnough)
print(gformNotEnough)

testNonVal = pd.Series(['tutorial1.Checkpoint13'])

gformNonVal = getNonValidatedCheckpoints(localplayerguid)
gformNonVal

getUserCheckpoints( localplayerguid )

getDiscrepancyGameGForm( localplayerguid )

getUserCheckpoints(localplayerguid)

test = getValidatedCheckpoints(localplayerguid)
test

max = test.values.max()
max

getNonValidatedCheckpoints(localplayerguid)

testlocalplayerguid = '"7412a447-8177-48e9-82c5-cb31032f76a9"'

test = pd.DataFrame({
                        'section' : ['tutorial1.Checkpoint00', 'tutorial1.Checkpoint01', 'tutorial1.Checkpoint02'],
                        'serverTime' : ['0', '1', '2'],
                        'firstReached' : ['0', '1', '2'],
                        'firstCompletionDuration' : ['0', '1', '2'],
                    })
test
#pd.DataFrame({  'A' : 1.,
#                'B' : pd.Timestamp('20130102'),
#                'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
#                'D' : np.array([3] * 4,dtype='int32'),
#                'E' : pd.Categorical(["test","train","test","train"]),
#                'F' : 'foo' })

[]
[5]
0    5
dtype: int64
[]
[ 5.]
0    5.0
dtype: float64

  firstCompletionDuration firstReached                 section serverTime
0                       0            0  tutorial1.Checkpoint00          0
1                       1            1  tutorial1.Checkpoint01          1
2                       2            2  tutorial1.Checkpoint02          2

In [103]:
testSr = pd.Series([])
testSr.values.size

0

In [104]:
checkpointTimes = getCheckpointsTimes('"958a0e85-1634-4559-bce6-d6af28b7e649"')
checkpointTimes

Empty DataFrame
Columns: [serverTime, firstReached, firstCompletionDuration]
Index: []

In [105]:
type(checkpointTimes)

pandas.core.frame.DataFrame

In [106]:
testDF = pd.DataFrame({}, columns=checkpointTimes.columns)
testDF

Empty DataFrame
Columns: [serverTime, firstReached, firstCompletionDuration]
Index: []

In [107]:
testDF['serverTime']['testIndex'] = np.nan
testDF

Empty DataFrame
Columns: [serverTime, firstReached, firstCompletionDuration]
Index: []

In [108]:
testDF = testDF.add({'serverTime': 'a', 'firstReached': 'b', 'firstCompletionDuration': 'c'})
testDF

Empty DataFrame
Columns: [serverTime, firstReached, firstCompletionDuration]
Index: []

In [109]:
othersessionId = "c430c60c-d7cb-4fc5-893b-dce440696caf"
checkpointTimes = getCheckpointsTimes(othersessionId)
checkpointTimes

,serverTime,firstReached,firstCompletionDuration
section,,,
tutorial1.Checkpoint00,2017-04-12T11:00:15.511Z,2017-04-12 11:00:15.511,NaT
tutorial1.Checkpoint01,2017-04-12T11:01:47.948Z,2017-04-12 11:01:47.948,00:01:32.437000

In [110]:
checkpointTimes.loc[checkpointTimes.index[0]]

serverTime                   2017-04-12T11:00:15.511Z
firstReached               2017-04-12 11:00:15.511000
firstCompletionDuration                           NaT
Name: tutorial1.Checkpoint00, dtype: object

In [111]:
checkpointTimes.loc[checkpointTimes.index[0]].name

'tutorial1.Checkpoint00'

In [112]:
reachEvents.head()

,sessionId,serverTime,section
10,2d76c4ef-f260-4963-82f4-ff598d2a63b4,2017-04-12T09:32:58.854Z,tutorial1.Checkpoint00
18,2d76c4ef-f260-4963-82f4-ff598d2a63b4,2017-04-12T09:34:25.657Z,tutorial1.Checkpoint01
69,6a9893c1-da09-42c7-832e-4d0746fa779e,2017-04-12T09:47:06.436Z,tutorial1.Checkpoint01
79,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:00:15.511Z,tutorial1.Checkpoint00
85,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:01:47.948Z,tutorial1.Checkpoint01

In [113]:
perSession = reachEvents[reachEvents['sessionId']==othersessionId]
perSession.head()

,sessionId,serverTime,section
79,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:00:15.511Z,tutorial1.Checkpoint00
85,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:01:47.948Z,tutorial1.Checkpoint01

In [114]:
perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
perSession.head()

,sessionId,serverTime,section
79,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:00:15.511Z,tutorial1.Checkpoint00
85,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:01:47.948Z,tutorial1.Checkpoint01

In [115]:
timedSections = perSession.groupby("section").agg({ "serverTime": np.min })
timedSections.head()

                                      serverTime
section
tutorial1.Checkpoint00  2017-04-12T11:00:15.511Z
tutorial1.Checkpoint01  2017-04-12T11:01:47.948Z

In [116]:
timedSections["firstReached"] = pd.to_datetime(timedSections["serverTime"])
timedSections.head()

                                      serverTime            firstReached
section
tutorial1.Checkpoint00  2017-04-12T11:00:15.511Z 2017-04-12 11:00:15.511
tutorial1.Checkpoint01  2017-04-12T11:01:47.948Z 2017-04-12 11:01:47.948

In [117]:
timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
timedSections.head()

,serverTime,firstReached,firstCompletionDuration
section,,,
tutorial1.Checkpoint00,2017-04-12T11:00:15.511Z,2017-04-12 11:00:15.511,NaT
tutorial1.Checkpoint01,2017-04-12T11:01:47.948Z,2017-04-12 11:01:47.948,00:01:32.437000

In [118]:
pd.melt(timedSections).head(1)

     variable                     value
0  serverTime  2017-04-12T11:00:15.511Z

In [119]:
timedSections.unstack().reset_index().drop('level_0', axis=1).head(1)

                  section                         0
0  tutorial1.Checkpoint00  2017-04-12T11:00:15.511Z

In [120]:
timedSections.columns

Index(['serverTime', 'firstReached', 'firstCompletionDuration'], dtype='object')

In [121]:
timedSections.index

Index(['tutorial1.Checkpoint00', 'tutorial1.Checkpoint01'], dtype='object', name='section')

In [122]:
#timedSections[timedSections['section']=='tutorial1.Checkpoint00']
#timedSections['section']
#timedSections.unstack().reset_index().drop('level_0', axis=1)

In [123]:
timedSections['serverTime']['tutorial1.Checkpoint00']

'2017-04-12T11:00:15.511Z'

In [124]:
timedSections['firstReached']['tutorial1.Checkpoint00']

Timestamp('2017-04-12 11:00:15.511000')

In [125]:
testTimeStamp = pd.Timestamp('2017-01-12 11:00:15.511000')
testTimeStamp

Timestamp('2017-01-12 11:00:15.511000')

In [126]:
timedSections.loc['tutorial1.Checkpoint00']

serverTime                   2017-04-12T11:00:15.511Z
firstReached               2017-04-12 11:00:15.511000
firstCompletionDuration                           NaT
Name: tutorial1.Checkpoint00, dtype: object

In [127]:
timedSections.loc['tutorial1.Checkpoint00']['serverTime']

'2017-04-12T11:00:15.511Z'

In [128]:
for checkpoint in timedSections.index:
    print(checkpoint)

tutorial1.Checkpoint00
tutorial1.Checkpoint01

In [129]:
#timedSections = []

#times = getCheckpointsTimes( sessionId )

for checkpoint in timedSections.index:
    if testTimeStamp < timedSections['firstReached'][checkpoint]:
        print(checkpoint)

tutorial1.Checkpoint00
tutorial1.Checkpoint01

In [130]:
timedSections.empty

False

In [131]:
checkpointTimes.index

Index(['tutorial1.Checkpoint00', 'tutorial1.Checkpoint01'], dtype='object', name='section')

In [132]:
checkpointTimes.columns

Index(['serverTime', 'firstReached', 'firstCompletionDuration'], dtype='object')

In [133]:
testTimedSections = pd.DataFrame(data=None, columns=timedSectionsReachedColumns,index=timedSectionsIndex)
testTimedSections

                       serverTime firstReached firstCompletionDuration
tutorial1.Checkpoint00        NaN          NaN                     NaN
tutorial1.Checkpoint01        NaN          NaN                     NaN
tutorial1.Checkpoint02        NaN          NaN                     NaN
tutorial1.Checkpoint03        NaN          NaN                     NaN
tutorial1.Checkpoint04        NaN          NaN                     NaN
tutorial1.Checkpoint05        NaN          NaN                     NaN
tutorial1.Checkpoint06        NaN          NaN                     NaN
tutorial1.Checkpoint07        NaN          NaN                     NaN
tutorial1.Checkpoint08        NaN          NaN                     NaN
tutorial1.Checkpoint09        NaN          NaN                     NaN
tutorial1.Checkpoint10        NaN          NaN                     NaN
tutorial1.Checkpoint11        NaN          NaN                     NaN
tutorial1.Checkpoint12        NaN          NaN                     NaN
tutorial1.Checkpoint13        NaN          NaN                     NaN
tutorial1.Checkpoint14        NaN          NaN                     NaN

In [134]:
getCheckpointsTimesUser(testlocalplayerguid)['firstCompletionDuration']
getCheckpointsTimesUser(testlocalplayerguid)
testTimedSections = pd.DataFrame(data=None, columns=timedSectionsReachedColumns,index=timedSectionsIndex)
#testTimedSections['firstReached']['tutorial1.Checkpoint01'] = pd.Timestamp('20130102')
testTimedSections["firstCompletionDuration"] = testTimedSections["firstReached"].diff()
testTimedSections

                       serverTime firstReached firstCompletionDuration
tutorial1.Checkpoint00        NaN          NaN                     NaN
tutorial1.Checkpoint01        NaN          NaN                     NaN
tutorial1.Checkpoint02        NaN          NaN                     NaN
tutorial1.Checkpoint03        NaN          NaN                     NaN
tutorial1.Checkpoint04        NaN          NaN                     NaN
tutorial1.Checkpoint05        NaN          NaN                     NaN
tutorial1.Checkpoint06        NaN          NaN                     NaN
tutorial1.Checkpoint07        NaN          NaN                     NaN
tutorial1.Checkpoint08        NaN          NaN                     NaN
tutorial1.Checkpoint09        NaN          NaN                     NaN
tutorial1.Checkpoint10        NaN          NaN                     NaN
tutorial1.Checkpoint11        NaN          NaN                     NaN
tutorial1.Checkpoint12        NaN          NaN                     NaN
tutorial1.Checkpoint13        NaN          NaN                     NaN
tutorial1.Checkpoint14        NaN          NaN                     NaN

In [135]:
# user "e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"
# session testSessionId
getDeaths(testSessionId)
testResult = getDeathsUser('"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"')
testResult
testResult.index
#localplayerguid
#"8bd5d335-d20e-4db5-9979-feb668ba7c71"
getDeaths("8bd5d335-d20e-4db5-9979-feb668ba7c71")
getDeathsUser(localplayerguid)

                        deathsCount
tutorial1.Checkpoint00            0
tutorial1.Checkpoint01            1
tutorial1.Checkpoint02            0
tutorial1.Checkpoint03            4
tutorial1.Checkpoint04            0
tutorial1.Checkpoint05            0
tutorial1.Checkpoint06            0
tutorial1.Checkpoint07            0
tutorial1.Checkpoint08            0
tutorial1.Checkpoint09            0
tutorial1.Checkpoint10            0
tutorial1.Checkpoint11            0
tutorial1.Checkpoint12            0
tutorial1.Checkpoint13            0
tutorial1.Checkpoint14            0

In [136]:
getSectionsEvents('death', testSessionId)
testResult = getUserSectionsEvents('death', '"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"')
testResult

                        count
tutorial1.Checkpoint00      0
tutorial1.Checkpoint01      0
tutorial1.Checkpoint02      0
tutorial1.Checkpoint03      2
tutorial1.Checkpoint04      0
tutorial1.Checkpoint05      3
tutorial1.Checkpoint06      4
tutorial1.Checkpoint07      0
tutorial1.Checkpoint08      1
tutorial1.Checkpoint09      2
tutorial1.Checkpoint10      0
tutorial1.Checkpoint11      1
tutorial1.Checkpoint12      2
tutorial1.Checkpoint13      2
tutorial1.Checkpoint14      0

In [137]:
getUserSectionsEventsTotal('death', '"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"')

17