# Preparation

In [20]:
%run "1. Google form analysis.ipynb"

## Unique Game Sessions

Number of unique game sessions

In [22]:
sessionscount = df["sessionId"].nunique()
sessionscount

2650

In [41]:
def getAllSessions( df, dropna ):
    result = df.loc[:, renamedRelevantColumns]
    result = result[result['type']=='start']
    result = result.drop('type', 1)
    if dropna:
        result = result.dropna(how='any')
    return result

def getAllSessionsOfUser( df, userId, dropna ):
    sessionsList = getAllSessions( df, dropna )
    return getAllSessionsOfUserOptimized(sessionsList, userId)

# sessionsList is assumed to contain the dataframe of userIds and sessionsIds
def getAllSessionsOfUserOptimized (sessionsList, userId):
    return sessionsList[sessionsList['userId']==userId]

# includewithoutusers=True will count sessions that do not have any userId attached
def countSessions( df, userId, includewithoutusers):
    return getAllSessionsOfUser( df, userId, includewithoutusers )['sessionId'].nunique()
    #return getAllSessionsOfUser( df, userId, includewithoutusers ).shape[0]

# sessionsList is assumed to contain the dataframe of userIds and sessionsIds
def getSessionsCountOptimized( df, userId):
    return getAllSessionsOfUserOptimized( df, userId ).shape[0]

def getUserSessionsCounts( df ):
    allSessions = getAllSessions( df, True )
    return allSessions.groupby('userId').size().reset_index(name='counts').sort_values(by='counts', ascending=False)

# Tests

print("part100="+str(part100.head(1)))
print("part131="+str(part131.head(1)))
print("part132="+str(part132.head(1)))
print("part133="+str(part133.head(1)))
print("part140="+str(part140.head(1)))
print("part150="+str(part150.head(1)))
print("part151="+str(part151.head(1)))
print("part152="+str(part152.head(1)))
print("df="+str(df.head(1)))

In [42]:
# includewithoutusers=True will count sessions that do not have any userId attached
countSessions( df, testGUID, True)

5

print("part100="+str(part100.columns))
print("part131="+str(part131.columns))
print("part132="+str(part132.columns))
print("part133="+str(part133.columns))
print("part140="+str(part140.columns))
print("part150="+str(part150.columns))
print("part151="+str(part151.columns))
print("part152="+str(part152.columns))

print("dfconcat="+str(dfconcat.columns))

print("df="+str(df.columns))

df.columns

In [25]:
testGUID = '"0bb50c7b-d9c4-466d-b906-84e46896f41d"'

In [26]:
sessionsList = getAllSessionsOfUser(df, testGUID, True)
sessionsList

,userId,sessionId
2837,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",78353b53-1083-452a-bcd6-6d5ae7b81e1e
2838,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",e7c44e50-daeb-4755-8432-c7d337f5c8e8
2841,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",7195155f-8db4-4f8b-b586-9ed67d5fcb56
2843,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",58bf9eed-be24-4128-881b-aec23f6a34b3
2857,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",7e75b052-ed53-4b08-a1f8-83404e9f4870

In [27]:
sessionsList = df[df['type']=='start']
sessionsList = sessionsList.drop('type', 1)
sessionsList = sessionsList.dropna(how='any')
userSessionsList = sessionsList[sessionsList['userId']==testGUID]
userSessionsList

,userId,sessionId
2837,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",78353b53-1083-452a-bcd6-6d5ae7b81e1e
2838,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",e7c44e50-daeb-4755-8432-c7d337f5c8e8
2841,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",7195155f-8db4-4f8b-b586-9ed67d5fcb56
2843,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",58bf9eed-be24-4128-881b-aec23f6a34b3
2857,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",7e75b052-ed53-4b08-a1f8-83404e9f4870

In [28]:
#print(testGUID)
sessionsList = getAllSessions(df, testGUID)
#sessionsList = getAllSessions(df, testGUID.replace('"',''))
#print(type(sessionsList))
sessionsList.shape[0]

2005

In [29]:
test = devPCID5.replace('"','')
#print(test)
#print(devPCID5)

In [30]:
allSessions = getAllSessions( df, True )
allSessions.head()

,userId,sessionId
2833,"""bcdc67e1-11a7-4a52-9ddf-735a60bcea63""",155ebc22-ccad-4f44-a619-4cc2496a88ba
2834,"""d01f5d57-c5fb-42a2-bb35-432c61277f46""",a4d4df1d-1394-423b-aa3f-ad0bcc86110f
2837,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",78353b53-1083-452a-bcd6-6d5ae7b81e1e
2838,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",e7c44e50-daeb-4755-8432-c7d337f5c8e8
2841,"""0bb50c7b-d9c4-466d-b906-84e46896f41d""",7195155f-8db4-4f8b-b586-9ed67d5fcb56

In [31]:
allSessions.groupby('userId').size().reset_index(name='counts').sort_values(by='counts', ascending=False).head(10)

                                     userId  counts
767  "a8ba2b83-c911-489c-98be-5fde646c46de"     140
735  "a151ad65-75fd-4dc1-b466-8852e6f085d2"      30
363  "4dbc2f43-421c-4e23-85d4-f17723ff8c66"      27
633  "89f8da5a-fdb8-4d47-b71f-fa01c0fa320f"      18
992  "d6007d58-33dd-4a36-8918-8473f0afc22a"      14
993  "d6826fd9-a6fc-4046-b974-68e50576183f"      14
138  "1f742172-0443-4fc7-b38a-621fa62b323f"      13
340  "47e7b80b-fd20-49ad-bf54-d31da5430016"      13
228  "305ed568-aff6-48a0-a5b8-9745afc6c51f"      12
757  "a4d4b030-9117-4331-ba48-90dc05a7e65a"       9

In [32]:
getUserSessionsCounts(getNormalizedRedMetricsCSV(part152)).head(10)

                                    userId  counts
18  "d6826fd9-a6fc-4046-b974-68e50576183f"      14
3   "1f742172-0443-4fc7-b38a-621fa62b323f"      13
14  "a151ad65-75fd-4dc1-b466-8852e6f085d2"      10
15  "a4d4b030-9117-4331-ba48-90dc05a7e65a"       9
10  "7cece567-45d0-42e7-9870-3f83fb7de271"       5
12  "9880ce9d-c6fc-476e-98a9-a9e8c8f7fcdc"       5
9   "7412a447-8177-48e9-82c5-cb31032f76a9"       2
0   "03e29e72-3bdd-4bc0-9556-20353e531368"       2
6   "4dbc2f43-421c-4e23-85d4-f17723ff8c66"       2
5   "4c617aef-2e03-4f56-b863-89d4f44128ef"       2

In [33]:
allSessions.groupby('userId').agg(['count']).head() #.sort_values(by='sessionId', ascending=False).head(10)

                                       sessionId
                                           count
userId
"001c95c6-8207-43dc-a51b-adf0c6e005d7"         1
"004d41be-083b-48c4-a0c4-a17967269f5a"         1
"00b0cddb-70cd-47ca-bbc7-695179b28a33"         1
"0102e08c-2a4e-4860-b4e2-7a4e9d474c58"         1
"0113fa54-9009-48cf-b50d-ff5d115ede36"         2

In [34]:
#df2 = pd.concat([df151, df152])
#df2.head(2)
#print(df2.columns)
#df2columns = df2.columns.values
#type(df2columns)
#df2columns
#newColumns = np.concatenate((minimalInitializationColumns, df2columns))
#newColumns
#df2 = getNormalizedRedMetricsCSV(df)