# Preparation

In [100]:
%run Utilities/Preparation.ipynb
%run "1. Google form analysis.ipynb"
%run "3. Game sessions.ipynb"

df152 = pd.read_csv("../data/2017-09-05.1.52.csv")
df152 = getNormalizedRedMetricsCSV(df152)

C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (24,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (24,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [101]:
df152.head()

,coordinates,customData,customData.biobrick,customData.chapter,customData.controls,customData.count,customData.device,customData.devices,customData.dnabit,customData.duration,...,playerCountry,playerCustomData,playerExternalId,playerGender,sessionId,playerRegion,section,serverTime,type,userTime
0,"[-229, -608]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:57:48.448Z,start,2017-04-12T08:57:49.752Z
1,"[-229, -608]",NaN,NaN,NaN,NaN,NaN,NaN,"""""",NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:58:14.441Z,selectmenu,2017-04-12T08:58:15.799Z
2,"[-125, 373]",NaN,NaN,NaN,NaN,NaN,"""PRLACI:RBS1:REPR2:DTER""","""slot0[PRLACI:RBS1:REPR2:DTER]""",NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:58:26.229Z,add,2017-04-12T08:58:27.575Z
3,"[-125, 373]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:58:37.640Z,switchfromgameversion,2017-04-12T08:58:38.987Z
4,"[-229, -608]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2d76c4ef-f260-4963-82f4-ff598d2a63b4,NaN,NaN,2017-04-12T09:30:51.879Z,start,2017-04-12T09:30:31.060Z

# Per-session analysis

In [102]:
perSessionRelevantColumns = ['sessionId', 'serverTime', 'section']

testSessionId = "fab3ea03-6ff1-483f-a90a-74ff47d0b556"

perSession = df152[df152['type']=='reach'].loc[:,perSessionRelevantColumns]
perSession = perSession[perSession['sessionId']==testSessionId]
perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
perSession

,sessionId,serverTime,section
21777,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:05:18.293Z,tutorial1.Checkpoint00
21783,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:08:17.799Z,tutorial1.Checkpoint01
21798,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:13:28.227Z,tutorial1.Checkpoint02
21803,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:15:27.959Z,tutorial1.Checkpoint03
21809,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:16:11.658Z,tutorial1.Checkpoint04
21822,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:19:29.421Z,tutorial1.Checkpoint03
21823,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:19:47.058Z,tutorial1.Checkpoint04
21824,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:20:12.739Z,tutorial1.Checkpoint05
22065,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:34:32.438Z,tutorial1.Checkpoint06
22081,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:37:59.659Z,tutorial1.Checkpoint07
22186,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:45:27.478Z,tutorial1.Checkpoint08
22192,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:46:34.417Z,tutorial1.Checkpoint09
22196,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:47:39.021Z,tutorial1.Checkpoint10
22199,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:47:46.360Z,tutorial1.Checkpoint11
22201,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:48:16.857Z,tutorial1.Checkpoint12
22282,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:53:44.320Z,tutorial1.Checkpoint13

# Per user analysis

In [103]:
# English-speaking user who answered the questionnaire - cf 'Google form analysis.ipynb'.
#localplayerguid = '"8d352896-a3f1-471c-8439-0f426df901c1"'
#localplayerguid = '"7037c5b2-c286-498e-9784-9a061c778609"'
#localplayerguid = '"5c4939b5-425b-4d19-b5d2-0384a515539e"'
#localplayerguid = devPCID5
localplayerguid = '"7cece567-45d0-42e7-9870-3f83fb7de271"'
localplayerguid

'"7cece567-45d0-42e7-9870-3f83fb7de271"'

In [104]:
perUserRelevantColumns = ['sessionId', 'serverTime', 'section']

In [105]:
sessionsList = getAllSessionsOfUser(df152, localplayerguid, True)

In [106]:
# List all 'reach' events with those sessionIds.
perUser = df152[df152['type']=='reach'].loc[:,perUserRelevantColumns]
perUser = perUser[perUser['sessionId'].isin(sessionsList['sessionId'])]
perUser = perUser[perUser['section'].str.startswith('tutorial', na=False)]
perUser.describe()
perUser.head()

,sessionId,serverTime,section
707,bb07e07d-0b95-4837-8f06-6c01b2199ba7,2017-05-13T08:11:21.211Z,tutorial1.Checkpoint00
768,bb07e07d-0b95-4837-8f06-6c01b2199ba7,2017-05-13T08:12:11.223Z,tutorial1.Checkpoint01
925,bb07e07d-0b95-4837-8f06-6c01b2199ba7,2017-05-13T08:21:01.602Z,tutorial1.Checkpoint02
942,470dc242-c0dc-403b-806d-e7322b8071cf,2017-05-13T08:50:38.611Z,tutorial1.Checkpoint02
947,470dc242-c0dc-403b-806d-e7322b8071cf,2017-05-13T08:52:19.621Z,tutorial1.Checkpoint00

# Common analysis

#### Switch here between users and sessions.

In [107]:
#sectionsList = perSession
sectionsList = perUser

In [108]:
timedSections = sectionsList.groupby("section").agg({ "serverTime": np.min })
timedSections.head()

                                      serverTime
section
tutorial1.Checkpoint00  2017-05-13T08:11:21.211Z
tutorial1.Checkpoint01  2017-05-13T08:12:11.223Z
tutorial1.Checkpoint02  2017-05-13T08:21:01.602Z

In [109]:
timedSections["firstReached"] = pd.to_datetime(timedSections["serverTime"])
timedSections.head()

                                      serverTime            firstReached
section
tutorial1.Checkpoint00  2017-05-13T08:11:21.211Z 2017-05-13 08:11:21.211
tutorial1.Checkpoint01  2017-05-13T08:12:11.223Z 2017-05-13 08:12:11.223
tutorial1.Checkpoint02  2017-05-13T08:21:01.602Z 2017-05-13 08:21:01.602

In [110]:
timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
timedSections

,serverTime,firstReached,firstCompletionDuration
section,,,
tutorial1.Checkpoint00,2017-05-13T08:11:21.211Z,2017-05-13 08:11:21.211,NaT
tutorial1.Checkpoint01,2017-05-13T08:12:11.223Z,2017-05-13 08:12:11.223,00:00:50.012000
tutorial1.Checkpoint02,2017-05-13T08:21:01.602Z,2017-05-13 08:21:01.602,00:08:50.379000

# Functions

<a id=functions />

## Comparison between game and Google form performance

In [111]:
reachEvents = df152[df152['type']=='reach'].loc[:,perSessionRelevantColumns]

# Returns a given session's checkpoints, the first server time at which they were reached, and completion time
def getCheckpointsTimes( sessionId ):
    perSession = reachEvents[reachEvents['sessionId']==sessionId]
    perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
    timedSections = perSession.groupby("section").agg({ "serverTime": np.min })
    timedSections["firstReached"] = pd.to_datetime(timedSections["serverTime"])
    timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
    return timedSections

In [112]:
# Returns a given user's checkpoints, the first server time at which they were reached, and completion time
def getCheckpointsTimesUser( userId ):
    #print("getCheckpointsTimesUser(" + str(userId) + ")")
    
    # List of associated sessions
    sessionsList = getAllSessionsOfUser( df152, userId, True )
    #print("sessionsList=" + str(sessionsList))
    
    # Call getCheckpointsTimes on all sessions associated with user,
    # then merge by taking oldest checkpoint completion
    timedSectionsInitialized = False
    
    for sessionId in sessionsList['sessionId']:
        
        #print("processing user " + str(userId) + " with session " + str(sessionId))
        times = getCheckpointsTimes( sessionId )
        if not (timedSectionsInitialized or times.empty):
            timedSectionsInitialized = True
            timedSections = pd.DataFrame(data=None, columns=times.columns,index=times.index)
        
        # merge
        # for each checkpoint reached, update if necessary
        if timedSectionsInitialized:
            #print('timedSectionsInitialized == True')
            for checkpointName in times.index:
                if (np.isnan(timedSections['firstReached'][checkpointName]) 
                    or (timeSection['firstReached'][checkpointName] < times['firstReached'][checkpointName])
                   ):
                    timedSections['serverTime'][checkpointName] = times['serverTime'][checkpointName]
                    timedSections['firstReached'][checkpointName] = times['firstReached'][checkpointName]
            #print(times)
            #print(type(times))        
        #else:
            #print('timedSectionsInitialized == False')
    
    if timedSectionsInitialized:
        # update of firstCompletionDuration
        timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
    else:
        for sessionId in sessionsList['sessionId']:
            timedSections = pd.DataFrame(data=None, columns=times.columns,index=times.index)
            break
    
    return timedSections

In [113]:
# Returns a given user's unique reached checkpoints
def getUserCheckpoints( userId ):
    #print("getUserCheckpoints(" + str(userId) + ")")

    # List of associated sessions
    sessionsList = getAllSessionsOfUser( df152, userId, True )
    #print("sessionsList=" + str(sessionsList))
    
    # List all 'reach' events with those sessionIds.
    perUser = reachEvents[reachEvents['sessionId'].isin(sessionsList[sessionsList['userId']==userId])]
    perUser = perUser[perUser['section'].str.startswith('tutorial', na=False)]
    return pd.Series(perUser['section'].unique())


def getDiscrepancyGameGForm( userId ):
    gformNonVal = getNonValidatedCheckpoints(userId)
    gformVal = getValidatedCheckpoints(userId)
    gameVal = getUserCheckpoints(userId)
    
    #sorted, unique values in series1 that are not in series2
    #np.setdiff1d(series1.values, series2.values)
    
    #user has answered questions whose answer they haven't seen in the game
    gameNotEnough = pd.Series(np.setdiff1d(gformVal.values, gameVal.values))
    
    #user has not answered questions whose answer they have seen in the game
    gformNotEnough = []
    maxGameVal = ''
    if gameVal.values.size!=0:
        gameVal.values.max()
    for nonVal in gformNonVal.values:
        if nonVal >= maxGameVal:
            gformNotEnough.append(nonVal)    
    gformNotEnough = pd.Series(gformNotEnough)
    
    return (gameNotEnough, gformNotEnough)

## Tests

In [114]:
gformNotEnough = []
print(gformNotEnough)

gformNotEnough.append(5)
print(gformNotEnough)

gformNotEnough = pd.Series(gformNotEnough)
print(gformNotEnough)

[]
[5]
0    5
dtype: int64

In [115]:
gformNotEnough = np.array([])
print(gformNotEnough)

gformNotEnough = np.append(gformNotEnough, [5])
print(gformNotEnough)

gformNotEnough = pd.Series(gformNotEnough)
print(gformNotEnough)

[]
[ 5.]
0    5.0
dtype: float64

In [116]:
testNonVal = pd.Series(['tutorial1.Checkpoint13'])

In [117]:
gformNonVal = getNonValidatedCheckpoints(localplayerguid)
gformNonVal

0
dtype: object

In [118]:
getUserCheckpoints( localplayerguid )

Series([], dtype: object)

In [119]:
getDiscrepancyGameGForm( localplayerguid )

(0    tutorial1.Checkpoint00
 1    tutorial1.Checkpoint01
 2    tutorial1.Checkpoint02
 3    tutorial1.Checkpoint05
 4    tutorial1.Checkpoint13
 dtype: object, 0
 dtype: object)

In [120]:
getUserCheckpoints(localplayerguid)

Series([], dtype: object)

In [121]:
test = getValidatedCheckpoints(localplayerguid)
test

0    tutorial1.Checkpoint00
1    tutorial1.Checkpoint01
2    tutorial1.Checkpoint02
3    tutorial1.Checkpoint05
4    tutorial1.Checkpoint13
dtype: object

In [122]:
max = test.values.max()
max

'tutorial1.Checkpoint13'

In [123]:
getNonValidatedCheckpoints(localplayerguid)

0
dtype: object

In [124]:
testlocalplayerguid = '"7412a447-8177-48e9-82c5-cb31032f76a9"'

In [125]:
test = pd.DataFrame({
                        'section' : ['tutorial1.Checkpoint00', 'tutorial1.Checkpoint01', 'tutorial1.Checkpoint02'],
                        'serverTime' : ['0', '1', '2'],
                        'firstReached' : ['0', '1', '2'],
                        'firstCompletionDuration' : ['0', '1', '2'],
                    })
test
#pd.DataFrame({  'A' : 1.,
#                'B' : pd.Timestamp('20130102'),
#                'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
#                'D' : np.array([3] * 4,dtype='int32'),
#                'E' : pd.Categorical(["test","train","test","train"]),
#                'F' : 'foo' })

  firstCompletionDuration firstReached                 section serverTime
0                       0            0  tutorial1.Checkpoint00          0
1                       1            1  tutorial1.Checkpoint01          1
2                       2            2  tutorial1.Checkpoint02          2

In [126]:
testSr = pd.Series([])
testSr.values.size

0

In [127]:
checkpointTimes = getCheckpointsTimes('"958a0e85-1634-4559-bce6-d6af28b7e649"')
checkpointTimes

Empty DataFrame
Columns: [serverTime, firstReached, firstCompletionDuration]
Index: []

In [128]:
type(checkpointTimes)

pandas.core.frame.DataFrame

In [129]:
testDF = pd.DataFrame({}, columns=checkpointTimes.columns)
testDF

Empty DataFrame
Columns: [serverTime, firstReached, firstCompletionDuration]
Index: []

In [130]:
testDF['serverTime']['testIndex'] = np.nan
testDF

Empty DataFrame
Columns: [serverTime, firstReached, firstCompletionDuration]
Index: []

In [131]:
testDF = testDF.add({'serverTime': 'a', 'firstReached': 'b', 'firstCompletionDuration': 'c'})
testDF

Empty DataFrame
Columns: [serverTime, firstReached, firstCompletionDuration]
Index: []

In [132]:
othersessionId = "c430c60c-d7cb-4fc5-893b-dce440696caf"
checkpointTimes = getCheckpointsTimes(othersessionId)
checkpointTimes

,serverTime,firstReached,firstCompletionDuration
section,,,
tutorial1.Checkpoint00,2017-04-12T11:00:15.511Z,2017-04-12 11:00:15.511,NaT
tutorial1.Checkpoint01,2017-04-12T11:01:47.948Z,2017-04-12 11:01:47.948,00:01:32.437000

In [133]:
checkpointTimes.loc[checkpointTimes.index[0]]

serverTime                   2017-04-12T11:00:15.511Z
firstReached               2017-04-12 11:00:15.511000
firstCompletionDuration                           NaT
Name: tutorial1.Checkpoint00, dtype: object

In [134]:
checkpointTimes.loc[checkpointTimes.index[0]].name

'tutorial1.Checkpoint00'

In [135]:
reachEvents.head()

,sessionId,serverTime,section
10,2d76c4ef-f260-4963-82f4-ff598d2a63b4,2017-04-12T09:32:58.854Z,tutorial1.Checkpoint00
18,2d76c4ef-f260-4963-82f4-ff598d2a63b4,2017-04-12T09:34:25.657Z,tutorial1.Checkpoint01
69,6a9893c1-da09-42c7-832e-4d0746fa779e,2017-04-12T09:47:06.436Z,tutorial1.Checkpoint01
79,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:00:15.511Z,tutorial1.Checkpoint00
85,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:01:47.948Z,tutorial1.Checkpoint01

In [136]:
perSession = reachEvents[reachEvents['sessionId']==othersessionId]
perSession.head()

,sessionId,serverTime,section
79,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:00:15.511Z,tutorial1.Checkpoint00
85,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:01:47.948Z,tutorial1.Checkpoint01

In [137]:
perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
perSession.head()

,sessionId,serverTime,section
79,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:00:15.511Z,tutorial1.Checkpoint00
85,c430c60c-d7cb-4fc5-893b-dce440696caf,2017-04-12T11:01:47.948Z,tutorial1.Checkpoint01

In [138]:
timedSections = perSession.groupby("section").agg({ "serverTime": np.min })
timedSections.head()

                                      serverTime
section
tutorial1.Checkpoint00  2017-04-12T11:00:15.511Z
tutorial1.Checkpoint01  2017-04-12T11:01:47.948Z

In [139]:
timedSections["firstReached"] = pd.to_datetime(timedSections["serverTime"])
timedSections.head()

                                      serverTime            firstReached
section
tutorial1.Checkpoint00  2017-04-12T11:00:15.511Z 2017-04-12 11:00:15.511
tutorial1.Checkpoint01  2017-04-12T11:01:47.948Z 2017-04-12 11:01:47.948

In [140]:
timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
timedSections.head()

,serverTime,firstReached,firstCompletionDuration
section,,,
tutorial1.Checkpoint00,2017-04-12T11:00:15.511Z,2017-04-12 11:00:15.511,NaT
tutorial1.Checkpoint01,2017-04-12T11:01:47.948Z,2017-04-12 11:01:47.948,00:01:32.437000

In [141]:
pd.melt(timedSections).head(1)

     variable                     value
0  serverTime  2017-04-12T11:00:15.511Z

In [142]:
timedSections.unstack().reset_index().drop('level_0', axis=1).head(1)

                  section                         0
0  tutorial1.Checkpoint00  2017-04-12T11:00:15.511Z

In [143]:
timedSections.columns

Index(['serverTime', 'firstReached', 'firstCompletionDuration'], dtype='object')

In [144]:
timedSections.index

Index(['tutorial1.Checkpoint00', 'tutorial1.Checkpoint01'], dtype='object', name='section')

In [145]:
#timedSections[timedSections['section']=='tutorial1.Checkpoint00']
#timedSections['section']
#timedSections.unstack().reset_index().drop('level_0', axis=1)

In [146]:
timedSections['serverTime']['tutorial1.Checkpoint00']

'2017-04-12T11:00:15.511Z'

In [147]:
timedSections['firstReached']['tutorial1.Checkpoint00']

Timestamp('2017-04-12 11:00:15.511000')

In [148]:
testTimeStamp = pd.Timestamp('2017-01-12 11:00:15.511000')
testTimeStamp

Timestamp('2017-01-12 11:00:15.511000')

In [149]:
timedSections.loc['tutorial1.Checkpoint00']

serverTime                   2017-04-12T11:00:15.511Z
firstReached               2017-04-12 11:00:15.511000
firstCompletionDuration                           NaT
Name: tutorial1.Checkpoint00, dtype: object

In [150]:
timedSections.loc['tutorial1.Checkpoint00']['serverTime']

'2017-04-12T11:00:15.511Z'

In [151]:
for checkpoint in timedSections.index:
    print(checkpoint)

tutorial1.Checkpoint00
tutorial1.Checkpoint01

In [152]:
#timedSections = []

#times = getCheckpointsTimes( sessionId )

for checkpoint in timedSections.index:
    if testTimeStamp < timedSections['firstReached'][checkpoint]:
        print(checkpoint)

tutorial1.Checkpoint00
tutorial1.Checkpoint01

In [153]:
timedSections.empty

False

In [154]:
getCheckpointsTimesUser(testlocalplayerguid)

,serverTime,firstReached,firstCompletionDuration
section,,,
tutorial1.Checkpoint00,2017-06-01T19:38:34.151Z,2017-06-01 19:38:34.151000,NaT
tutorial1.Checkpoint01,2017-06-01T19:39:07.255Z,2017-06-01 19:39:07.255000,00:00:33.104000