# Preparation

In [1230]:
%run Utilities/Preparation.ipynb
%run "1. Google form analysis.ipynb"
%run "3. Game sessions.ipynb"

df152 = pd.read_csv("../data/2017-09-05.1.52.csv")
df152 = getNormalizedRedMetricsCSV(df152)

===========================================
                                                        answers
Timestamp                           2017/08/18 4:22:26 PM GMT+2
Are you interested in video games?                    Extremely
-------------------------------------------
                                                        answers correct
Timestamp                           2017/08/18 4:22:26 PM GMT+2     NaN
Are you interested in video games?                    Extremely     NaN
-------------------------------------------
19
-------------------------------------------
0    tutorial1.Checkpoint00
1    tutorial1.Checkpoint01
2    tutorial1.Checkpoint02
3    tutorial1.Checkpoint05
4    tutorial1.Checkpoint13
dtype: object
-------------------------------------------
0
dtype: object
===========================================
===========================================
                                                        answers
Timestamp                           2017/09/06 2:28:03 PM GMT+2
Are you interested in video games?                   Moderately
-------------------------------------------
                                                        answers correct
Timestamp                           2017/09/06 2:28:03 PM GMT+2     NaN
Are you interested in video games?                   Moderately     NaN
-------------------------------------------
23
-------------------------------------------
0    tutorial1.Checkpoint00
1    tutorial1.Checkpoint01
2    tutorial1.Checkpoint02
3    tutorial1.Checkpoint05
4    tutorial1.Checkpoint13
dtype: object
-------------------------------------------
0
dtype: object
===========================================
===========================================
                                                         answers
Timestamp                           2017/09/12 10:02:06 AM GMT+2
Are you interested in video games?                         A lot
-------------------------------------------
                                                         answers correct
Timestamp                           2017/09/12 10:02:06 AM GMT+2     NaN
Are you interested in video games?                         A lot     NaN
-------------------------------------------
16
-------------------------------------------
0    tutorial1.Checkpoint00
1    tutorial1.Checkpoint01
2    tutorial1.Checkpoint02
3    tutorial1.Checkpoint05
4    tutorial1.Checkpoint13
dtype: object
-------------------------------------------
0
dtype: object

C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (24,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Mikael\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (24,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

===========================================
===========================================
                                                        answers
Timestamp                           2017/09/13 3:11:34 AM GMT+2
Are you interested in video games?                 I don't know
-------------------------------------------
                                                        answers correct
Timestamp                           2017/09/13 3:11:34 AM GMT+2     NaN
Are you interested in video games?                 I don't know     NaN
-------------------------------------------
24
-------------------------------------------
0    tutorial1.Checkpoint00
1    tutorial1.Checkpoint01
2    tutorial1.Checkpoint02
3    tutorial1.Checkpoint05
4    tutorial1.Checkpoint13
dtype: object
-------------------------------------------
0
dtype: object
===========================================

In [1231]:
df152.head()

,coordinates,customData,customData.biobrick,customData.chapter,customData.controls,customData.count,customData.device,customData.devices,customData.dnabit,customData.duration,...,playerCountry,playerCustomData,playerExternalId,playerGender,sessionId,playerRegion,section,serverTime,type,userTime
0,"[-229, -608]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:57:48.448Z,start,2017-04-12T08:57:49.752Z
1,"[-229, -608]",NaN,NaN,NaN,NaN,NaN,NaN,"""""",NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:58:14.441Z,selectmenu,2017-04-12T08:58:15.799Z
2,"[-125, 373]",NaN,NaN,NaN,NaN,NaN,"""PRLACI:RBS1:REPR2:DTER""","""slot0[PRLACI:RBS1:REPR2:DTER]""",NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:58:26.229Z,add,2017-04-12T08:58:27.575Z
3,"[-125, 373]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,b724663c-b32a-4079-9f8f-896762b272d1,NaN,NaN,2017-04-12T08:58:37.640Z,switchfromgameversion,2017-04-12T08:58:38.987Z
4,"[-229, -608]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2d76c4ef-f260-4963-82f4-ff598d2a63b4,NaN,NaN,2017-04-12T09:30:51.879Z,start,2017-04-12T09:30:31.060Z

# Per-session analysis

In [1232]:
perSessionRelevantColumns = ['sessionId', 'serverTime', 'section']

testSessionId = "fab3ea03-6ff1-483f-a90a-74ff47d0b556"

perSession = df152[df152['type']=='reach'].loc[:,perSessionRelevantColumns]
perSession = perSession[perSession['sessionId']==testSessionId]
perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
perSession

,sessionId,serverTime,section
21777,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:05:18.293Z,tutorial1.Checkpoint00
21783,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:08:17.799Z,tutorial1.Checkpoint01
21798,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:13:28.227Z,tutorial1.Checkpoint02
21803,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:15:27.959Z,tutorial1.Checkpoint03
21809,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:16:11.658Z,tutorial1.Checkpoint04
21822,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:19:29.421Z,tutorial1.Checkpoint03
21823,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:19:47.058Z,tutorial1.Checkpoint04
21824,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:20:12.739Z,tutorial1.Checkpoint05
22065,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:34:32.438Z,tutorial1.Checkpoint06
22081,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:37:59.659Z,tutorial1.Checkpoint07
22186,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:45:27.478Z,tutorial1.Checkpoint08
22192,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:46:34.417Z,tutorial1.Checkpoint09
22196,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:47:39.021Z,tutorial1.Checkpoint10
22199,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:47:46.360Z,tutorial1.Checkpoint11
22201,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:48:16.857Z,tutorial1.Checkpoint12
22282,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:53:44.320Z,tutorial1.Checkpoint13

In [1233]:
allSessions = getAllSessions( df152, True )
allSessions.head()

,userId,sessionId
0,"""4dbc2f43-421c-4e23-85d4-f17723ff8c66""",b724663c-b32a-4079-9f8f-896762b272d1
4,"""1a8924de-7cc6-4ff5-8735-4cddac309117""",2d76c4ef-f260-4963-82f4-ff598d2a63b4
67,"""1a8924de-7cc6-4ff5-8735-4cddac309117""",6a9893c1-da09-42c7-832e-4d0746fa779e
74,"""a6483353-5db1-4c6c-98d7-b6328d0f4456""",c430c60c-d7cb-4fc5-893b-dce440696caf
88,"""0fa88384-3115-4ebd-990d-6bd29214c04f""",72dc3209-bd46-4026-91f0-44d2a7298175

In [1234]:
allSessions[allSessions['sessionId']==testSessionId]

,userId,sessionId
21771,"""e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1""",fab3ea03-6ff1-483f-a90a-74ff47d0b556

In [1235]:
allSessions[allSessions['userId']=='"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"']

,userId,sessionId
21771,"""e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1""",fab3ea03-6ff1-483f-a90a-74ff47d0b556

# Per user analysis

In [1236]:
# English-speaking user who answered the questionnaire - cf 'Google form analysis.ipynb'.
localplayerguid = '"8d352896-a3f1-471c-8439-0f426df901c1"'
#localplayerguid = '"7037c5b2-c286-498e-9784-9a061c778609"'
#localplayerguid = '"5c4939b5-425b-4d19-b5d2-0384a515539e"'
#localplayerguid = '"7825d421-d668-4481-898a-46b51efe40f0"'
#localplayerguid = '"acb9c989-b4a6-4c4d-81cc-6b5783ec71d8"'
localplayerguid

'"8d352896-a3f1-471c-8439-0f426df901c1"'

In [1237]:
perUserRelevantColumns = ['sessionId', 'serverTime', 'section']

In [1238]:
sessionsList = getAllSessionsOfUser(df152, localplayerguid, True)

In [1239]:
# List all 'reach' events with those sessionIds.
perUser = df152[df152['type']=='reach'].loc[:,perUserRelevantColumns]
perUser = perUser[perUser['sessionId'].isin(sessionsList['sessionId'])]
perUser = perUser[perUser['section'].str.startswith('tutorial', na=False)]
perUser.describe()
perUser.head()

,sessionId,serverTime,section
19988,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:01:06.876Z,tutorial1.Checkpoint00
19995,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:02:17.575Z,tutorial1.Checkpoint01
20018,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:09:41.769Z,tutorial1.Checkpoint02
20023,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:10:52.544Z,tutorial1.Checkpoint03
20028,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:11:04.463Z,tutorial1.Checkpoint04

# Common analysis

#### Switch here between users and sessions.

In [1240]:
#sectionsList = perSession
sectionsList = perUser

In [1241]:
timedSections = sectionsList.groupby("section").agg({ "serverTime": np.min })
timedSections.head()

                                      serverTime
section
tutorial1.Checkpoint00  2017-08-18T14:01:06.876Z
tutorial1.Checkpoint01  2017-08-18T14:02:17.575Z
tutorial1.Checkpoint02  2017-08-18T14:09:41.769Z
tutorial1.Checkpoint03  2017-08-18T14:10:52.544Z
tutorial1.Checkpoint04  2017-08-18T14:11:04.463Z

In [1242]:
timedSections["firstReached"] = pd.to_datetime(timedSections["serverTime"])
timedSections.head()

                                      serverTime            firstReached
section
tutorial1.Checkpoint00  2017-08-18T14:01:06.876Z 2017-08-18 14:01:06.876
tutorial1.Checkpoint01  2017-08-18T14:02:17.575Z 2017-08-18 14:02:17.575
tutorial1.Checkpoint02  2017-08-18T14:09:41.769Z 2017-08-18 14:09:41.769
tutorial1.Checkpoint03  2017-08-18T14:10:52.544Z 2017-08-18 14:10:52.544
tutorial1.Checkpoint04  2017-08-18T14:11:04.463Z 2017-08-18 14:11:04.463

In [1243]:
timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
timedSections

,serverTime,firstReached,firstCompletionDuration
section,,,
tutorial1.Checkpoint00,2017-08-18T14:01:06.876Z,2017-08-18 14:01:06.876,NaT
tutorial1.Checkpoint01,2017-08-18T14:02:17.575Z,2017-08-18 14:02:17.575,00:01:10.699000
tutorial1.Checkpoint02,2017-08-18T14:09:41.769Z,2017-08-18 14:09:41.769,00:07:24.194000
tutorial1.Checkpoint03,2017-08-18T14:10:52.544Z,2017-08-18 14:10:52.544,00:01:10.775000
tutorial1.Checkpoint04,2017-08-18T14:11:04.463Z,2017-08-18 14:11:04.463,00:00:11.919000

# Functions

<a id=functions />

## Comparison between game and Google form performance

In [1244]:
reachEvents = df152[df152['type']=='reach'].loc[:,perSessionRelevantColumns]
deathEvents = df152[df152['type']=='death'].loc[:,perSessionRelevantColumns]

timedSectionsIndex = [
                        'tutorial1.Checkpoint00',
                        'tutorial1.Checkpoint01',
                        'tutorial1.Checkpoint02',
                        'tutorial1.Checkpoint03',
                        'tutorial1.Checkpoint04',
                        'tutorial1.Checkpoint05',
                        'tutorial1.Checkpoint06',
                        'tutorial1.Checkpoint07',
                        'tutorial1.Checkpoint08',
                        'tutorial1.Checkpoint09',
                        'tutorial1.Checkpoint10',
                        'tutorial1.Checkpoint11',
                        'tutorial1.Checkpoint12',
                        'tutorial1.Checkpoint13',
                        'tutorial1.Checkpoint14',
                     ]
timedSectionsReachedColumns = ['serverTime', 'firstReached', 'firstCompletionDuration']
timedSectionsDeathsColumns = ['deathsCount']
eventSectionsColumns = ['count']

In [1245]:
# Returns a given session's checkpoints, the first server time at which they were reached, and completion time
def getCheckpointsTimes( sessionId ):
    perSession = reachEvents[reachEvents['sessionId']==sessionId]
    perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
    timedSections = perSession.groupby("section").agg({ "serverTime": np.min })
    timedSections["firstReached"] = pd.to_datetime(timedSections["serverTime"])
    timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
    return timedSections

In [1246]:
# Returns a given session's checkpoints, and death count
def getDeaths( sessionId ):
    perSession = deathEvents[deathEvents['sessionId']==sessionId]
    perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
    deathsSections = perSession.groupby("section").size().reset_index(name='deathsCount')
    return deathsSections

In [1247]:
# Returns a given user's checkpoints, the first server time at which they were reached, and completion time
def getCheckpointsTimesUser( userId ):
    #print("getCheckpointsTimesUser(" + str(userId) + ")")
    
    # List of associated sessions
    sessionsList = getAllSessionsOfUser( df152, userId, True )
    #print("sessionsList=" + str(sessionsList))
    
    # Call getCheckpointsTimes on all sessions associated with user,
    # then merge by taking oldest checkpoint completion
    timedSections = pd.DataFrame(data=None, columns=timedSectionsReachedColumns,index=timedSectionsIndex)
    
    for sessionId in sessionsList['sessionId']:        
        #print("processing user " + str(userId) + " with session " + str(sessionId))
        times = getCheckpointsTimes( sessionId )
        
        # merge
        # for each checkpoint reached, update if necessary
        for checkpointName in times.index:
            if (np.isnan(timedSections['firstReached'][checkpointName]) 
                or (timeSection['firstReached'][checkpointName] < times['firstReached'][checkpointName])
               ):
                timedSections['serverTime'][checkpointName] = times['serverTime'][checkpointName]
                timedSections['firstReached'][checkpointName] = times['firstReached'][checkpointName]
        #print(times)
        #print(type(times))        
    
    # update of firstCompletionDuration
    #timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
    
    return timedSections

In [1248]:
def getDeathsUser( userId ):
    #print("getDeathsUser(" + str(userId) + ")")
    
    # List of associated sessions
    sessionsList = getAllSessionsOfUser( df152, userId, True )
    #print("sessionsList=" + str(sessionsList))
    
    # Call getDeaths on all sessions associated with user,
    # then merge by adding
    deathsSections = pd.DataFrame(0, columns=timedSectionsDeathsColumns,index=timedSectionsIndex)
    
    for sessionId in sessionsList['sessionId']:        
        #print("processing user " + str(userId) + " with session " + str(sessionId))
        deaths = getDeaths( sessionId )
        
        # merge
        # for each checkpoint reached, update if necessary
        for index in deaths.index:
            #print("index=" + str(index))
            checkpointName = deaths['section'][index]
            #print("checkpointName=" + str(checkpointName))
            #print("deaths['deathsCount']["+str(index)+"]=" + str(deaths['deathsCount'][index]))
            
            deathsSections['deathsCount'][checkpointName] = deathsSections['deathsCount'][checkpointName] + deaths['deathsCount'][index]
    
    return deathsSections

In [1249]:
# Returns a given session's checkpoints, and event count
def getSectionsEvents( eventType, sessionId ):
    events = df152[df152['type']==eventType].loc[:,perSessionRelevantColumns]
    perSession = events[events['sessionId']==sessionId]
    perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
    sectionsEvents = perSession.groupby("section").size().reset_index(name='count')
    return sectionsEvents

In [1250]:
def getUserSectionsEvents( eventType, userId ):
    
    # List of associated sessions
    sessionsList = getAllSessionsOfUser( df152, userId, True )
    #print("sessionsList=" + str(sessionsList))
    
    # Call getSectionsEvents on all sessions associated with user,
    # then merge by adding
    userSectionsEvents = pd.DataFrame(0, columns=eventSectionsColumns,index=timedSectionsIndex)
    
    for sessionId in sessionsList['sessionId']:
        sessionSectionsEvents = getSectionsEvents( eventType, sessionId )
        
        # merge
        # for each checkpoint reached, update if necessary
        for index in sessionSectionsEvents.index:
            checkpointName = sessionSectionsEvents['section'][index]
            userSectionsEvents['count'][checkpointName] = userSectionsEvents['count'][checkpointName] + sessionSectionsEvents['count'][index]
    
    return userSectionsEvents

In [1251]:
def getUserSectionsEventsTotal( eventType, userId ):
    events = getUserSectionsEvents( eventType, userId )
    return events.values.sum()

In [1252]:
# Returns a given user's unique reached checkpoints
def getUserCheckpoints( userId ):
    #print("getUserCheckpoints(" + str(userId) + ")")

    # List of associated sessions
    sessionsList = getAllSessionsOfUser( df152, userId, True )
    #print("sessionsList=" + str(sessionsList))
    
    # List all 'reach' events with those sessionIds.
    perUser = reachEvents[reachEvents['sessionId'].isin(sessionsList[sessionsList['userId']==userId])]
    perUser = perUser[perUser['section'].str.startswith('tutorial', na=False)]
    return pd.Series(perUser['section'].unique())


def getDiscrepancyGameGForm( userId ):
    gformNonVal = getNonValidatedCheckpoints(userId)
    gformVal = getValidatedCheckpoints(userId)
    gameVal = getUserCheckpoints(userId)
    
    #sorted, unique values in series1 that are not in series2
    #np.setdiff1d(series1.values, series2.values)
    
    #user has answered questions whose answer they haven't seen in the game
    gameNotEnough = pd.Series(np.setdiff1d(gformVal.values, gameVal.values))
    
    #user has not answered questions whose answer they have seen in the game
    gformNotEnough = []
    maxGameVal = ''
    if gameVal.values.size!=0:
        gameVal.values.max()
    for nonVal in gformNonVal.values:
        if nonVal >= maxGameVal:
            gformNotEnough.append(nonVal)    
    gformNotEnough = pd.Series(gformNotEnough)
    
    return (gameNotEnough, gformNotEnough)

In [1253]:
# possible events: complete	configure	craft	death	equip	gotomooc	gotourl	pickup	reach	restart	selectmenu	start	switch	unequip
userDataVectorIndex = np.concatenate( ([
                                            #gform
                                            'score',

                                            #game
                                            'sessionsCount',
                                        ],
                                     simpleEvents))

simpleEvents = ['complete','configure','craft','death','equip','gotomooc','gotourl','pickup','reach','restart','selectmenu','start','switch','unequip']

In [1254]:
def getUserDataVector( userId ):
    
    columnName = str(userId)
    
    data = pd.DataFrame(0, columns=[columnName],index=userDataVectorIndex)
    
    data[columnName]['score'] = getScore( userId )
    
    data[columnName]['sessionsCount'] = countSessions( df152, userId, False)
    
    for eventName in simpleEvents:
        data[columnName][eventName] = getUserSectionsEventsTotal(eventName, userId)
    
    return data

In [1255]:
def getAllUsers( dataframe ):
    allUserIds = np.array(dataframe['userId'].unique())
    allUserIds = [i for i in allUserIds if not i in ['nan', np.nan, 'null']]
    return allUserIds

In [1256]:
from ipywidgets import FloatProgress
from IPython.display import display

In [1257]:
def getAllUserVectorData( userIds ):
    
    # result
    isInitialized = False
    allData = []

    f = FloatProgress(min=0, max=len(userIds))
    display(f)
    
    for userId in userIds:
        print(str(userId))
        f.value += 1
        if not isInitialized:
            isInitialized = True
            allData = getUserDataVector(userId)
        else:
            allData = pd.concat([allData, getUserDataVector(userId)], axis=1)

    print('done')
    return allData

In [1258]:
#allData = getAllUserVectorData( getAllUsers( df152 )[:10] )
allData = getAllUserVectorData( getAllResponders() )

8d352896-a3f1-471c-8439-0f426df901c1
7037c5b2-c286-498e-9784-9a061c778609
5c4939b5-425b-4d19-b5d2-0384a515539e
7825d421-d668-4481-898a-46b51efe40f0
done

In [1259]:
allData

,8d352896-a3f1-471c-8439-0f426df901c1,7037c5b2-c286-498e-9784-9a061c778609,5c4939b5-425b-4d19-b5d2-0384a515539e,7825d421-d668-4481-898a-46b51efe40f0
score,19,23,16,24
sessionsCount,0,0,0,0
complete,0,0,0,0
configure,0,0,0,0
craft,0,0,0,0
death,0,0,0,0
equip,0,0,0,0
gotomooc,0,0,0,0
gotourl,0,0,0,0
pickup,0,0,0,0
reach,0,0,0,0
restart,0,0,0,0
selectmenu,0,0,0,0
start,0,0,0,0
switch,0,0,0,0
unequip,0,0,0,0

In [1260]:
getAllUsers(df152)[:10]

['"4dbc2f43-421c-4e23-85d4-f17723ff8c66"',
 '"1a8924de-7cc6-4ff5-8735-4cddac309117"',
 '"a6483353-5db1-4c6c-98d7-b6328d0f4456"',
 '"0fa88384-3115-4ebd-990d-6bd29214c04f"',
 '"1f742172-0443-4fc7-b38a-621fa62b323f"',
 '"8116ab59-446b-4dfb-8154-445f5ac84a1e"',
 '"9abd384c-2f36-4de6-8cd4-af32cb2459ff"',
 '"a151ad65-75fd-4dc1-b466-8852e6f085d2"',
 '"4c617aef-2e03-4f56-b863-89d4f44128ef"',
 '"7412a447-8177-48e9-82c5-cb31032f76a9"']

In [1261]:
len(getAllUsers(df152))

247

In [1262]:
testResult = getUserDataVector('"8d352896-a3f1-471c-8439-0f426df901c1"')
testResult

               "8d352896-a3f1-471c-8439-0f426df901c1"
score                                              19
sessionsCount                                       1
complete                                            0
configure                                           0
craft                                               4
death                                               5
equip                                               0
gotomooc                                            0
gotourl                                             0
pickup                                              9
reach                                               7
restart                                             0
selectmenu                                          0
start                                               0
switch                                              0
unequip                                             0

In [ ]:
testResult = getUserDataVector('"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"')
testResult

               "e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"
score                                             NaN
sessionsCount                                     1.0
complete                                          0.0
configure                                         0.0
craft                                            23.0
death                                            17.0
equip                                             0.0
gotomooc                                          0.0
gotourl                                           0.0
pickup                                           18.0
reach                                            16.0
restart                                           1.0
selectmenu                                        3.0
start                                             0.0
switch                                            0.0
unequip                                           0.0

In [ ]:
testResult = getUserDataVector('"7412a447-8177-48e9-82c5-cb31032f76a9"')
testResult

In [ ]:
testResult['"7412a447-8177-48e9-82c5-cb31032f76a9"']['death']

## Tests

In [ ]:
gformNotEnough = []
print(gformNotEnough)

gformNotEnough.append(5)
print(gformNotEnough)

gformNotEnough = pd.Series(gformNotEnough)
print(gformNotEnough)

In [ ]:
gformNotEnough = np.array([])
print(gformNotEnough)

gformNotEnough = np.append(gformNotEnough, [5])
print(gformNotEnough)

gformNotEnough = pd.Series(gformNotEnough)
print(gformNotEnough)

In [ ]:
testNonVal = pd.Series(['tutorial1.Checkpoint13'])

In [ ]:
gformNonVal = getNonValidatedCheckpoints(localplayerguid)
gformNonVal

In [ ]:
getUserCheckpoints( localplayerguid )

In [ ]:
getDiscrepancyGameGForm( localplayerguid )

In [ ]:
getUserCheckpoints(localplayerguid)

In [ ]:
test = getValidatedCheckpoints(localplayerguid)
test

In [ ]:
max = test.values.max()
max

In [ ]:
getNonValidatedCheckpoints(localplayerguid)

In [ ]:
testlocalplayerguid = '"7412a447-8177-48e9-82c5-cb31032f76a9"'

In [ ]:
test = pd.DataFrame({
                        'section' : ['tutorial1.Checkpoint00', 'tutorial1.Checkpoint01', 'tutorial1.Checkpoint02'],
                        'serverTime' : ['0', '1', '2'],
                        'firstReached' : ['0', '1', '2'],
                        'firstCompletionDuration' : ['0', '1', '2'],
                    })
test
#pd.DataFrame({  'A' : 1.,
#                'B' : pd.Timestamp('20130102'),
#                'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
#                'D' : np.array([3] * 4,dtype='int32'),
#                'E' : pd.Categorical(["test","train","test","train"]),
#                'F' : 'foo' })

In [ ]:
testSr = pd.Series([])
testSr.values.size

In [ ]:
checkpointTimes = getCheckpointsTimes('"958a0e85-1634-4559-bce6-d6af28b7e649"')
checkpointTimes

In [ ]:
type(checkpointTimes)

In [ ]:
testDF = pd.DataFrame({}, columns=checkpointTimes.columns)
testDF

In [ ]:
testDF['serverTime']['testIndex'] = np.nan
testDF

In [ ]:
testDF = testDF.add({'serverTime': 'a', 'firstReached': 'b', 'firstCompletionDuration': 'c'})
testDF

In [ ]:
othersessionId = "c430c60c-d7cb-4fc5-893b-dce440696caf"
checkpointTimes = getCheckpointsTimes(othersessionId)
checkpointTimes

In [ ]:
checkpointTimes.loc[checkpointTimes.index[0]]

In [ ]:
checkpointTimes.loc[checkpointTimes.index[0]].name

In [ ]:
reachEvents.head()

In [ ]:
perSession = reachEvents[reachEvents['sessionId']==othersessionId]
perSession.head()

In [ ]:
perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
perSession.head()

In [ ]:
timedSections = perSession.groupby("section").agg({ "serverTime": np.min })
timedSections.head()

In [ ]:
timedSections["firstReached"] = pd.to_datetime(timedSections["serverTime"])
timedSections.head()

In [ ]:
timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
timedSections.head()

In [ ]:
pd.melt(timedSections).head(1)

In [ ]:
timedSections.unstack().reset_index().drop('level_0', axis=1).head(1)

In [ ]:
timedSections.columns

In [ ]:
timedSections.index

In [ ]:
#timedSections[timedSections['section']=='tutorial1.Checkpoint00']
#timedSections['section']
#timedSections.unstack().reset_index().drop('level_0', axis=1)

In [ ]:
timedSections['serverTime']['tutorial1.Checkpoint00']

In [ ]:
timedSections['firstReached']['tutorial1.Checkpoint00']

In [ ]:
testTimeStamp = pd.Timestamp('2017-01-12 11:00:15.511000')
testTimeStamp

In [ ]:
timedSections.loc['tutorial1.Checkpoint00']

In [ ]:
timedSections.loc['tutorial1.Checkpoint00']['serverTime']

In [ ]:
for checkpoint in timedSections.index:
    print(checkpoint)

In [ ]:
#timedSections = []

#times = getCheckpointsTimes( sessionId )

for checkpoint in timedSections.index:
    if testTimeStamp < timedSections['firstReached'][checkpoint]:
        print(checkpoint)

In [ ]:
timedSections.empty

In [ ]:
checkpointTimes.index

In [ ]:
checkpointTimes.columns

In [ ]:
testTimedSections = pd.DataFrame(data=None, columns=timedSectionsReachedColumns,index=timedSectionsIndex)
testTimedSections

In [ ]:
getCheckpointsTimesUser(testlocalplayerguid)['firstCompletionDuration']
getCheckpointsTimesUser(testlocalplayerguid)
testTimedSections = pd.DataFrame(data=None, columns=timedSectionsReachedColumns,index=timedSectionsIndex)
#testTimedSections['firstReached']['tutorial1.Checkpoint01'] = pd.Timestamp('20130102')
testTimedSections["firstCompletionDuration"] = testTimedSections["firstReached"].diff()
testTimedSections

In [ ]:
# user "e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"
# session testSessionId
getDeaths(testSessionId)
testResult = getDeathsUser('"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"')
testResult
testResult.index
#localplayerguid
#"8bd5d335-d20e-4db5-9979-feb668ba7c71"
getDeaths("8bd5d335-d20e-4db5-9979-feb668ba7c71")
getDeathsUser(localplayerguid)

In [ ]:
getSectionsEvents('death', testSessionId)
testResult = getUserSectionsEvents('death', '"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"')
testResult

In [ ]:
getUserSectionsEventsTotal('death', '"e2f8d5e4-cccd-4d1a-909b-c9c92f6b83c1"')