# Preparation

In [1]:
%run Utilities/Preparation.ipynb
df152 = pd.read_csv("../data/2017-09-05.1.52.csv")
df152 = df152.rename(index=str, columns={'playerId': 'sessionId'})

/Users/raphik12/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (24,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Per-session analysis

In [2]:
perSessionRelevantColumns = ['sessionId', 'serverTime', 'section']

sessionId = "fab3ea03-6ff1-483f-a90a-74ff47d0b556"

perSession = df152[df152['type']=='reach'].loc[:,perSessionRelevantColumns]
perSession = perSession[perSession['sessionId']==sessionId]
perSession = perSession[perSession['section'].str.startswith('tutorial', na=False)]
perSession

,sessionId,serverTime,section
21777,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:05:18.293Z,tutorial1.Checkpoint00
21783,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:08:17.799Z,tutorial1.Checkpoint01
21798,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:13:28.227Z,tutorial1.Checkpoint02
21803,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:15:27.959Z,tutorial1.Checkpoint03
21809,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:16:11.658Z,tutorial1.Checkpoint04
21822,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:19:29.421Z,tutorial1.Checkpoint03
21823,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:19:47.058Z,tutorial1.Checkpoint04
21824,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:20:12.739Z,tutorial1.Checkpoint05
22065,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:34:32.438Z,tutorial1.Checkpoint06
22081,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:37:59.659Z,tutorial1.Checkpoint07
22186,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:45:27.478Z,tutorial1.Checkpoint08
22192,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:46:34.417Z,tutorial1.Checkpoint09
22196,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:47:39.021Z,tutorial1.Checkpoint10
22199,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:47:46.360Z,tutorial1.Checkpoint11
22201,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:48:16.857Z,tutorial1.Checkpoint12
22282,fab3ea03-6ff1-483f-a90a-74ff47d0b556,2017-08-22T22:53:44.320Z,tutorial1.Checkpoint13

# Per user analysis

In [3]:
sessionListRelevantColumns = ['customData.localplayerguid', 'sessionId']
perUserRelevantColumns = ['sessionId', 'serverTime', 'section']

# See localPlayerIds in Preparation for instance.
#localplayerguid = arcadeCabinetID
# Random user.
#localplayerguid = '"0fa88384-3115-4ebd-990d-6bd29214c04f"'

# English-speaking user who answered the questionnaire - cf 'Google form analysis.ipynb'.
localplayerguid = '"8d352896-a3f1-471c-8439-0f426df901c1"'

# List all sessions with this localplayerguid.
sessionsList = df152[df152['type']=='start'].loc[:,sessionListRelevantColumns]
sessionsList = sessionsList[sessionsList['customData.localplayerguid']==localplayerguid]
sessionsList.describe()

,customData.localplayerguid,sessionId
count,1,1
unique,1,1
top,"""8d352896-a3f1-471c-8439-0f426df901c1""",8bd5d335-d20e-4db5-9979-feb668ba7c71
freq,1,1

In [4]:
sessionsList

,customData.localplayerguid,sessionId
19986,"""8d352896-a3f1-471c-8439-0f426df901c1""",8bd5d335-d20e-4db5-9979-feb668ba7c71

In [5]:
# List all 'reach' events with those sessionIds.
perUser = df152[df152['type']=='reach'].loc[:,perUserRelevantColumns]
perUser = perUser[perUser['sessionId'].isin(sessionsList['sessionId'])]
perUser = perUser[perUser['section'].str.startswith('tutorial', na=False)]
perUser.describe()
perUser.head()

,sessionId,serverTime,section
19988,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:01:06.876Z,tutorial1.Checkpoint00
19995,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:02:17.575Z,tutorial1.Checkpoint01
20018,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:09:41.769Z,tutorial1.Checkpoint02
20023,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:10:52.544Z,tutorial1.Checkpoint03
20028,8bd5d335-d20e-4db5-9979-feb668ba7c71,2017-08-18T14:11:04.463Z,tutorial1.Checkpoint04

# Common analysis

#### Switch here between users and sessions.

In [6]:
#sectionsList = perSession
sectionsList = perUser

In [7]:
timedSections = sectionsList.groupby("section").agg({ "serverTime": np.min })
timedSections.head()

                                      serverTime
section
tutorial1.Checkpoint00  2017-08-18T14:01:06.876Z
tutorial1.Checkpoint01  2017-08-18T14:02:17.575Z
tutorial1.Checkpoint02  2017-08-18T14:09:41.769Z
tutorial1.Checkpoint03  2017-08-18T14:10:52.544Z
tutorial1.Checkpoint04  2017-08-18T14:11:04.463Z

In [8]:
timedSections["firstReached"] = pd.to_datetime(timedSections["serverTime"])
timedSections.head()

                                      serverTime            firstReached
section
tutorial1.Checkpoint00  2017-08-18T14:01:06.876Z 2017-08-18 14:01:06.876
tutorial1.Checkpoint01  2017-08-18T14:02:17.575Z 2017-08-18 14:02:17.575
tutorial1.Checkpoint02  2017-08-18T14:09:41.769Z 2017-08-18 14:09:41.769
tutorial1.Checkpoint03  2017-08-18T14:10:52.544Z 2017-08-18 14:10:52.544
tutorial1.Checkpoint04  2017-08-18T14:11:04.463Z 2017-08-18 14:11:04.463

In [9]:
timedSections["firstCompletionDuration"] = timedSections["firstReached"].diff()
timedSections

,serverTime,firstReached,firstCompletionDuration
section,,,
tutorial1.Checkpoint00,2017-08-18T14:01:06.876Z,2017-08-18 14:01:06.876,NaT
tutorial1.Checkpoint01,2017-08-18T14:02:17.575Z,2017-08-18 14:02:17.575,00:01:10.699000
tutorial1.Checkpoint02,2017-08-18T14:09:41.769Z,2017-08-18 14:09:41.769,00:07:24.194000
tutorial1.Checkpoint03,2017-08-18T14:10:52.544Z,2017-08-18 14:10:52.544,00:01:10.775000
tutorial1.Checkpoint04,2017-08-18T14:11:04.463Z,2017-08-18 14:11:04.463,00:00:11.919000